<style>

   .img-logo {
    height: 24%;
    margin-left: 55px;
    padding-left: 24px;
    width: 37%;
}

    .profile-pic {
    border: 2px solid #ddddf2;
    border-radius: 50%;
    margin-left: -17px;
    width: 60%;
}
    .landing-header .md-button {
        color: rgba(0, 0, 0, 0.4);
        font-weight:normal;
        }

    .user-menu_01{margin-left: 111px;}
    .user-menu_01 .icon.icon-cart {
    position: relative;
    top: 3px;
    color:#0078ce !important;
}

    #toolbar {
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  padding-top: 8px;
  z-index: 55 !important;
}
    #toolbar #user-menu .user-button {padding: 0;}
    .profile-pic {
    border: 2px solid #ddddf2;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 4px;
    margin-top: 0;
    width: 37px;
}

.new-drop md-menu-item {
    padding-left: 53px !important;
}


</style>
<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>


        <div class="toolbar-separator"></div>
    </div>
    <div layout="row" layout-align="start center" ng-show="vm.login" class="drop-menu">
        <md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress" class="md-accent" md-diameter="32">
        </md-progress-circular>
        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                            <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">
                            </md-icon>
                        </div>
                        <span class="username" hide show-gt-sm>{{vm.loginusername}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>
                <md-menu-content width="3" class="new-drop">
                    <md-menu-item class="md-indent" ui-sref="app.pages_profile" style="padding-left:56px;">
                        <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                        <md-button>My Profile</md-button>
                    </md-menu-item>
                    <md-menu-item class="md-indent" ui-sref="app.mail" style="padding-left:56px;">
                        <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                        <md-button>Inbox</md-button>
                    </md-menu-item>
                    <md-menu-item class="md-indent" style="padding-left:56px;">
                        <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                 ng-style="{'color': vm.userStatus.color }" class="icon"></md-icon>
                        <md-menu id="user-status-menu">
                            <md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">
                                {{vm.userStatus.title}}
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item class="status md-indent"
                                              ng-class="{'selected': status === vm.userStatus}"
                                              ng-repeat="status in vm.userStatusOptions" style="padding-left:56px;">
                                    <md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
                                             class="icon"></md-icon>
                                    <md-button ng-click="vm.setUserStatus(status)">
                                        {{status.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item class="md-indent" style="padding-left:56px;">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
        <div class="toolbar-separator"></div>
        <ms-search-bar on-search="vm.search(query)" on-result-click="vm.searchResultClick(item)" debounce="300"></ms-search-bar>
        <div class="toolbar-separator"></div>

        <div class="toolbar-separator"></div>

    </div>

    <div layout="row" layout-align="start center" ng-show="!vm.login" class="landing-header">
        <div style="float: left; width: 38%;">
            <img src="../../../../assets/images/express-writers-logo.png" class="img-logo" />
        </div>
            <md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-click="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <a href="https://expresswriters.com/content-shop/" style="padding-left: 9px; padding-right: 9px; border: 2px solid rgb(0, 74, 172); color: rgb(0, 74, 172); font-weight: 500; border-radius: 3px; line-height: 28px; height: 31px;" >
                                <span class="username" hide show-gt-sm style="padding-left: 9px; padding-right: 9px; color: rgb(0, 74, 172); font-weight: 500; border-radius: 3px; line-height: 28px; height: 31px;">
                                  Content Services
                                </span>
                            </a>

                        </div>
                    </md-button>

                </md-menu>
            </md-menu-bar>
            <md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-mouseover="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <div class="avatar-wrapper">

                            </div>
                            <span class="username" hide show-gt-sm>TOUR</span>
                            <md-icon md-font-icon="icon-chevron-down"
                                     class="icon s16" hide-xs></md-icon>
                        </div>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">

                            <md-button href="https://expresswriters.com/writing-levels/">Writing Levels</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent" ui-sref="app.mail">

                            <md-button href="https://expresswriters.com/process/">Our Process</md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent">

                            <md-button href="https://expresswriters.com/pricing/">Pricing</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">

                            <md-button href="https://expresswriters.com/agency-solutions/">Agencies</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

            <md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-mouseover="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <div class="avatar-wrapper">

                            </div>
                            <span class="username" hide show-gt-sm>LEARN</span>
                            <md-icon md-font-icon="icon-chevron-down"
                                     class="icon s16" hide-xs></md-icon>
                        </div>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">

                            <md-button href="https://expresswriters.com/write-blog/">Write Blog</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent" ui-sref="app.mail">

                            <md-button href="https://expresswriters.com/contentwritingchat/">#ContentWritingChat</md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent">

                            <md-button href="https://expresswriters.com/write-podcast/">Write Podcast</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">

                            <md-button href="http://contentstrategycourse.com/">Content Strategy Course</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-mouseover="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <div class="avatar-wrapper">

                            </div>
                            <span class="username" hide show-gt-sm>ABOUT</span>
                            <md-icon md-font-icon="icon-chevron-down"
                                     class="icon s16" hide-xs></md-icon>
                        </div>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">

                            <md-button href="https://expresswriters.com/our-values/">Our Values</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent" ui-sref="app.mail">

                            <md-button href="https://expresswriters.com/about-us/">Meet the Team</md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent">

                            <md-button href="https://expresswriters.com/success-stories/">Success Stories</md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

            <md-menu-bar id="user-menu" class="margin-right-30">
                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-mouseover="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <div layout="row" layout-align="space-between center">
                            <div class="avatar-wrapper">

                            </div>
                            <a href="https://expresswriters.com/contact-us/">
                                <span class="username" hide show-gt-sm> Talk To Us</span>
                            </a>

                        </div>
                    </md-button>

                </md-menu>
            </md-menu-bar>


            <md-menu-bar id="user-menu">

                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-click="vm.doLogin()"
                               aria-label="Login"
                               translate translate-attr-aria-label="Login">
                        <img src="../../../../assets/images/avatars/profile.jpg" class="profile-pic" />
                        LOGIN
                    </md-button>
                </md-menu>
            </md-menu-bar>
            <md-menu-bar class="right-cart" id="user-menu">

                <md-menu md-position-mode="left bottom">
                    <md-button class="user-button" ng-click="$mdOpenMenu()"
                               aria-label="User settings"
                               translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                        <i class="icon icon-cart s20" style="border:1px solid #ddd; padding: 14px;color: #004AAC;"></i>
                    </md-button>
                </md-menu>
            </md-menu-bar>


    </div>
</div>