<style>
    .active {
    border-bottom:1px solid #808080;
     font-weight: bold;
    }
    .dataTables_wrapper .top {
    padding: 0;
}
     .w100p {
    width: 100%;
}
    .pull-left {
    float: left;
    margin-left: 9px;
}
    .pull-right{float:right;}  
    .left_col {
    width: 22%;
}
.left_col md-input-container {
    display: block;
    flex: 0 1 0;
    float: left;
    margin: 0;
    max-width: 100%;
    width: 100%;
} 

.left_col md-input-container .md-select-value{min-height: 36px;}

.layout-row.w100p{
    display: block;
    width: 100%;
}

.left_col  .md-button{border-radius: 0;}
.left_col .active.md-button{} 
/*.left_col {
    text-align: right;
    width: 40%;
}*/ 
   table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    display:none;}
        td > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 68px;
  line-height: 19px;
}
        td {
  width: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
        .input-new {
    border: 1px solid #ddd !important;
    padding: 9px!important;
}
           .user_col{width: 38%;}
.user_col .left_col {
    margin-left: 24px;
    width: 46%;
}

      #tableservice td, #tableservice th {
    text-align: center;
} 
      .min_top_section > button:first-child {
    margin-right: 20px;
} 
      #tableservice_length select {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 9px;
    padding: 6px;
}
        .ml-16.text-boxed.pink-bg.white-fg.ng-binding {
    margin-left: 10px;
}    .statis{
 
  margin-top: 0!important;
}
     .ms-widget .md-button {
    margin: 0;
    text-transform: capitalize;
}
</style>
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">   
    <!-- CONTENT -->
    <div class="content">
        <div class="content layout-column">

           
            <div class="md-title pb-0 padding-left-10">
                Jobs
            </div>
           

                <div class="widget-group" layout="row" flex="100" layout-wrap>
                    <!--<div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                    </div>-->
                    <!-- WIDGET 7 -->
                    <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">
                        <!-- Front -->
                        <ms-widget-front class="white-bg">

                            <div class="ph-16 pv-30 border-bottom gray-bg">
                                <div layout="column" layout-gt-xs="row">
                                    <div class="layout-row w100p min_top_section">
                                        <div class="add_button1 pull-left">
                                            <md-button class="md-raised md-accent statis" aria-label="Cancel"
                                                       ng-click="createjob()">
                                                New Job
                                            </md-button>
                                        </div>
                                       
                                        <div class="right_col pull-right">
                                            <md-button class="{{activeclasslis}}" ng-click="listed()">Published  </md-button>
                                            <md-button class="padding-left-5 {{activeclassdra}}" ng-click="Draft()">Draft   </md-button>
                                            <md-button class="padding-left-5 {{activeclasstra}}" ng-click="Trash()">Trash</md-button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="ph-16 pv-30 border-bottom gray-bg" layout="row" layout-align="space-between center">
                                <div layout="row" layout-align="start center" class="user_col">
                                    <!--<span class="h3">{{vm.widget7.title}}</span>-->
                                    <span class="ml-16 text-boxed pink-bg white-fg">{{vm.filteredTodos.length}} jobs</span>
                                    <div class="left_col">
                                        <md-input-container>
                                            <label>Actions</label>
                                            <md-select ng-model="">
                                                <!--<md-option ng-repeat="job in vm.jobsrole" value="{{job.name}}">
                    {{job.name}}
                </md-option>-->


                                                <md-option value="Listed" ng-show="hdnlist" onclick="addids();" ng-click="duplicatejob()">Duplicate</md-option>
                                                <md-option value="Draft" ng-show="hdndraft" onclick="addids();" ng-click="draftjob()">Draft</md-option>
                                                <md-option value="Trash" ng-show="hdntrash" onclick="addids();" ng-click="trashjob()">Trash</md-option>
                                                <md-option value="Restore" ng-show="hdnrestore" onclick="addids();" ng-click="restorejob()">Restore</md-option>
                                                <md-option value="RestoreDraft" ng-show="hdnrestoredraft" onclick="addids();" ng-click="draftjob()">Restore as Draft</md-option>
                                                <md-option value="Delete" ng-show="hdndelete" onclick="addids();" ng-click="deletejob()">Delete</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="refresh_col">
                                    <md-menu>
                                        <md-button aria-label="more" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    <i class="icon icon-refresh"></i>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <input type="text" ng-model="search" placeholder="Search" class="input-new" />
                                </div>
                            </div>
                            <!--<md-radio-group ng-model="vm.selectedId">-->
                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.widget7.dtOptions" id="tableservice">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text" style="text-align: left; width: 8%!important;">
                                                <div class="table-header" style="text-align: left; width: 8%!important;">
                                                    <input type='checkbox' value="" id="select_all" onclick="checkall();">
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:left !important;">
                                                <div class="table-header">
                                                    <span class="column-title ng-binding">Job Name</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:left !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Status</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:left !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Compensation</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:left !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Availibility</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:left !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Role</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:center !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Created Date</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:center !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Applicants</span>
                                                </div>
                                            </th>

                                            <th class="secondary-text" style="text-align:center !important;">
                                                <div class="table-header">
                                                    <span class="column-title">Test</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" style="text-align:center !important;">
                                                <div class="table-header">
                                                    <!--<span class="column-title"></span>-->
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="row in vm.filteredTodos | filter:search">
                                            <td style="text-align:left !important;">
                                                <input type='checkbox' class="checkbox" value="{{row._id}}">
                                                <input type="hidden" id="selectedids"/>

                                            </td>
                                            <td class="sorting_1" style="text-align:left !important;">
                                                <span class="bold" style="font-weight:bold;">
                                                    {{row.jobname}}
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:left !important;">
                                                <span class="red-fg">
                                                    {{row.status}}
                                                </span>
                                            </td>

                                            <td class="sorting_1" style="text-align:left !important;">
                                                <span ng-if="row.compensationtype!='Word'">
                                                    <span class="{{row.mincompensation}}">
                                                        {{row.mincompensation}}$ -
                                                    </span>
                                                    <span class="{{row.maxcompensation}}">
                                                        {{row.maxcompensation}}$
                                                    </span>
                                                    <span>
                                                        Per  {{row.compensationtype}}
                                                    </span>
                                                </span>
                                                <span ng-if="row.compensationtype=='Word'">
                                                    <span class="{{row.mincompensation}}">
                                                        {{row.mincompensation}} Cent -
                                                    </span>
                                                    <span class="{{row.maxcompensation}}">
                                                        {{row.maxcompensation}} Cent
                                                    </span>
                                                    <span>
                                                        Per  {{row.compensationtype}}
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:left !important;">
                                                <span class="{{row.availibility}}">
                                                    {{row.availibility}}
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:left !important;">
                                                <span class="">
                                                    {{row.role}}
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:center !important;">
                                                <span class="amber-700-fg">
                                                    {{row.createddate | date}}
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:center !important;">
                                                <span class="{{row.jobRoles.role}}">
                                                    {{row.Applicants}}
                                                </span>
                                            </td>
                                            <td class="sorting_1" style="text-align:center !important;">
                                                <span class="">
                                                    {{row.role}}
                                                </span>
                                            </td>

                                            <td class="sorting_1" style="text-align:center !important;">

                                                <i class="icon icon-border-color s20" style="cursor:pointer;" ng-click="editjob(row._id)"></i>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            <!--</md-radio-group>-->
                        </ms-widget-front>
                        <!-- / Front -->
                    </ms-widget>
                    <!-- / WIDGET 7 -->
                   
                </div>
            </div>
        </div>
        </div>
       
    <!-- / CONTENT -->
   
    <script>

        //function checkall(){

        //    $('#tableservice').find('input[type="checkbox"]').each(function () {
        //        $(this).removeAttr("checked");
        //    });           
        //}
        function checkall() {
            
            var select_all = document.getElementById("select_all"); //select all checkbox
            var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

            //select all checkboxes
            select_all.addEventListener("change", function (e) {
                for (i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = select_all.checked;
                }
            });


            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                    //uncheck "select all", if one of the listed checkbox item is unchecked
                    if (this.checked == false) {
                        select_all.checked = false;
                       
                    }
                    //check "select all" if all checkbox items are checked
                    if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                        select_all.checked = true;
                       
                    }
                });
            }
           
        }
        function addids() {
            
            var selectedValues = "";
            $('#tableservice').find('input[type="checkbox"]:checked').each(function () {
                selectedValues += "," + $(this).val();
            });

            //selectedValues = selectedValues.substring(1);
            $('#selectedids').val(selectedValues);
            
        }
    </script>
    
