
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot') format('embedded-opentype');
    font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica';
  src:  url('Helvetica.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADWUAA8AAAAAXGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA1eAAAABoA
AAAcSzGUZ0dERUYAADIoAAAAHwAAACABFAAGR1BPUwAAMmgAAAMQAAAFOBDxPc5HU1VCAAAySAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAATgAAAGATAygnY21hcAAABAwAAAGmAAAB8sPXXIpnYXNwAAAy
IAAAAAgAAAAI//8AA2dseWYAAAeEAAAnbgAASGyi/8DRaGVhZAAAAVgAAAA0AAAANg0uQtBoaGVh
AAABjAAAAB8AAAAkBugDV2htdHgAAAIcAAAB7QAAA5rehSWsbG9jYQAABbQAAAHQAAAB0N2B8AJt
YXhwAAABrAAAAB4AAAAgATAAUG5hbWUAAC70AAABxgAAAzz9s/B6cG9zdAAAMLwAAAFkAAAB8DZM
NwJ42mNgZGBgYGTsnKDM0hjPb/OVgZv5BVCE4Wpa3QUY/T/qvzzzC+bFQC4HAxNIFABsAQ1+eNpj
YGRgYF78Xx5Ifv8f9T+K+QUDUAQFPAMAnesHRAB42mNgZGBgeM7gy8DOAAJMQMzIABJzAPMZACK8
AYEAAHjaY2Bi3Mn4hYGVgYGpi6mLgYFhGoQGihkxPGRAAg0MDPoODAweyGIMDgwKv5mYzv03ZHBj
XszwUIGBUdARKMzEzXQOSCkwMAEA1ccOWAAAeNplks9LVFEUx7/3PcNQfJTllCL5a9KheUYShRgh
0wzR2DzFzSgKhgwt2xgEuncftOwPcNt/0P8w0FZo50IozAhCeH3OnauM+eDDuffcc8+573uOK8h/
LoOCZ8O19DJKNQrj8a5mos9K9VXPiKnBpNvH90ozxK6xT70t5D+Ivw9vYQQmYdhywHQ4M/ugE681
cjyyPN6mmo//6BO1EliK2kphlXUzaqkZ9xHTVsa9TXeqm/gb3GnEFdXxNzi3dza9bWud9Rz3EtYr
rG/HX3QDe8vnb+kOeRbtzdhR9y0/IZdpkGCLsECNe9gpKBFj/hJUdKiqDvOfnFdtTf2K+UPsglny
ZJyPh3s11td5R4LtD4y5ZXTo0ZZZ/v85dz4Q+xgmgvaxnWPLnJWi7/mJ29Fd9tteM9tn6nMf9dT3
IlMPXIM9qxkNa5D6GftZKLt3vhfb8QvVoQyz6LAZ9L5CfOTfnHr9u0CzX74HhfwvdoAYnev/P/au
0I+VS3RqWF+rQe8rMHfF0INSN6H+m4v6Hd3P9b+M6dTyWta6sR6EHvdbrijNj+npMf9cZE6mbHas
fxezQr+I+Y2OQ4EB2IXXUHdZfoYdsxkih5gLm5MnBv5pGDGsl76fWxok7j304l83dJBvsH/oe3mq
RMk/jHyemQAAAHjaY2BgYGaAYBkGRgYQeAPkMYL5LAwXgLQBgwKQJcBQx7CG4T+jIaMTYzBjImMF
Yx3jJKbjTHcVRBSkFOQUlBTUFAwUrBRcFJWUhH4z/f8P1KnAsJBhHVCHI2MQYwJQRy1QxzGmGwrC
ChIKMgoKYB2WUB2M////f/z/4P8D//v/N/wv/J/63/+/93+Lf6x/vz448GDvgz0Pdj/Y8WD9g+UP
5t0/eO8S6xOoa0kCjGwMcG2MTECCCV0BMChYWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSV
lFVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP38AwKDgkNCw8IjIqOi
Y2Lj4hMSGVpa2zsnTpuzcMGiJYuXLl+5YtXqtWvWrd+4edOWbVt37dy953ZBckrG3bL5eVmPSzIZ
2mYwFDIwpJWCXZddxbBsR31SLsMpBoac6nsMDc1TDx+5fOXGzavXtjPsP/6I4cHDp8/ulF+/db+p
q7G7o7evv2fyFIZJs2bPPHD6Yv7Zc+crLl04AwALIpcQAAAAAAAAAAAAAAAAABQAJgBYAK4A+gFO
AVwBeAGUAbIByAHeAewB+AIIAjACSAKCAsgC5gMaA2ADegPGBAoEHAQ4BEoEXgRwBKYFAAUcBVAF
hAWmBb4F1AYOBiYGNAZUBm4GfgaiBrwG6gcKB0QHggfGB9gH/AgSCDQIUAhmCH4IkAieCLAIxAjS
COAJLAlYCYAJsAneCf4KSgpwCoQKpgrACs4LCAswC1gLhgu2C9AMEgw0DFYMagyMDKYMzAzkDRYN
JA1WDXgNjg3QDhwOVg56Do4O6A76D0IPhg+iD7IP9hAEECIQPhBuEKgQthDcEPYRDBEyEUYRdBGQ
EcASCBJgEpYSuBLcEwITPhNmE5gTvBQQFC4UThRwFJIUphS6FNIU6hUYFVAVhBW4FfAWPBZ0Fo4W
0hb8FyYXVBeCF6AXwhf6GEwYnhj0GV4ZtBoWGnoawhr2GyobYhuaG64bwhvaG/IcQByGHLQc5B0W
HV4dkB24HfgeIh5MHngeph7UHwQfNh9EH2AfeB+8IAwgXCCqIMwg7iESIUQhViFoIYghlCGyIdIh
+CIMIhoiKCI6IkwiXiJ8IpoitiLMIuoi/iMWI3wjjCOcI6wj1CPiJA4kNnjapXwJfFvF0fjbfZbk
25Z1+pSlp8OHLNs6bUuyfNtyfMZHZDt27MRxEscJISFA7oYchIID5YaQfg0J5S6F0i+0nKGl/QgQ
7q/QlpSjH6XQQAOkLTR+/s/ue7LlKyW/f2wdlnZnZ2ZnZufaMJjpZRjmSXyKYZkYhvGoOJeHY10O
1ZNDwWLt0MjISC1ynznDYKYOvYoy6TgZwyjkDpUDHnXB2iB6lZmcJL+YyWAYLMc/ZdIZHcOYZJyH
Iw+Pgz4cMvqQcfCwwBPam1mVuQMeq2JWKeCRWZ25HR7wTrkqZny7cscb5F/gYEB8eeUgYMoy2ZPj
OJqVMVImkfEDJi6DVKVUa1R2t8tptng4G7KosmQqZSLmgBgbcjmykEZuY11OtwPoyoqa8FTULA/U
Fuhv6ZIWBww6V6oxOUVmra83FK66PCRxN9r81forQoXafG9+Nrrj/2qKij3r+aArxx/7cWFZ/Bex
sSlJmlRDXpqvp0A1OChds6W9Kh7FxGny64sXX1pRgaPTzHWAKiNhLJNn2MX4WSaOUTF6Jp8pBHwB
DbtapZRyBrNHqXbY3U6zQYrm/VSBOGQZrq8bHq6rH67z5uaXlXV60Q2zP+nlL3Oja3Fi/fIV8OmK
hoISb2dpGb9u5t/oywkbfoOhPLROnsX7YC9jGA1TAjtlSUQqZRZy2NlyDFzkDIlYpUQaDj7nDDb4
yO0BRjrdBMVELNO4PQ4pOnJ3dYndo10eTNPpizLTjMlSZPvexuq8gWCgN1deOWTN7vvhYo0tO2OP
IrZDNv6b/IArt0yJtqakOTPyjfJ0TZybP3xocVFxXmVJatMyj7s8v2og5DP6ilIVdzn8vQxivCBb
e6nMUYnzirIG/xBTM1mM8vF7TBJ850hkiQxwFMkz/hxTfnJlg7enoxO/19S8fe+SS58Z3//K7l3v
k3kGmBcjzNNw5SwRGpAQYP1gxLxXZ02DeRb0COoHXBJhPY8GJMmjkWlkFpnFY1Gu8a1RjlUXV1YW
V+NWj3n9erPHsNQwMGBYKuBqAb3Qo29ADhiQR5VDRUSTcyEm+M47wXeRHp7hVxi7ZHId8ywzysQz
DJFXZSIrc7ldS1YrNIaUWNfocrNXpwROSwZhrJX5BOlRFeEPAohIfw5V9faKcOCZwGEFrX529ejo
KHw++cXkGWTBH9A5LKdAlnPV/8AfTMTjr8k8zJgmz2AZyCwLssEYk7OTGUDBYGOd5aw9C6P7+d+j
vXHZjp7LehzZceE3PuyceBktWt67MlhUFFzZG34DeKyEdVZRHWCQnJNzrvIoD1o1cMxSYEvXRuNn
JyrRV3WsNDnTZqB4p8HTv2G8GfjMwaIOQeiSkFSmV+nLUQDRTQMZZfeGTM4Gd8bAzvSyksLg+ji0
k9dFdTb3m3XW5Jp6syddHoV+VTnkzIreOFjQUGJKzfE3dqzaU+BWK3OL9PbmTENZBiPIxBkcC2s6
iD0h2icuIJtCQCpTCeppIeLC0iGcQfp+VnJZk6/O6EyTR+HuOF1xh2t4s4fbvGtnvXcgrg/FZQZs
NV3HpBmopgm7/bl12szidLXBF7BmrlrsD8Zh885le3TFd2bZHBmL/LsR8D8VNiEOcIklkmYigqJ3
IbC1cfCE41aF+FdQVXDVifc/fPDBB7vRM3wJCvAnUIDSkQ10YLC/eqBDJliURJZoMBHxMFkyi0Kv
ejSrtHXptbF612DAXFtjk/ZJ28ur20M1rY4mFxrDvSesW1dllDS4TfLcthKvt78m2FEdhbZ0CzJi
hnWkgCNHLBriBIOhgQWzwG7IiNEwW8wuZzkmnyDlFEel6J/dipGien0Stm/mGmqt1bqW2sJhg1vr
XrtIX1mex9/R1BBYVNNY14ijxsp6Wwy4W1vU51sVNBiK3F3/VXnlFQ2K3Cb+SKC/p6G0bwmh2UT5
9VOiLwqXXkU2zZ3iMaGPs4N9i1KGUu5ZjXu7m/Ujh95cP446t1D7R/CXAP5poJmw54gYNWoDyP66
nB4RdzVLzpYseEesRJgGsDTobyl6tbzCsWXzcG3DFcuUBT3esXW/q1uUoAvkjy+uLKktrw24gziW
8xiSYtIH7P273aXrtxUZV+r85Zb1/DfNLq21IH1fTW1TRXFOZXV+kU/gax7dP8LXIth7g5mcWfYs
sG2JEmqHhV30gFm22EVLDegg2YqtV45WLLNnRrNxSouj3V62xKoMRZW7GtrkWNFnVuXYMurr/Ys+
27Z65Nqi6sFgnrpocUNricni92a6/TuvwZaC1nhdTXFl15L62wEPajtwlHDWE+uhoBZkNbEh6E5i
R7Bgp2BMPJM8w1IpOJcjbK0cMGPaYMFM2K8iJg5r0RdwfjMmlcllUkmwlteiT/itfW2v1r3adjfA
tjCbwF7uF9ZHKr1LAg+s56XoW3jsDwZPBoPMTFgKGCNxmYoAkBbtR/81BQvON/Q3/DsmizEQi1KO
PeJRK0vEGg5OtnI4NGyYMxAabwhhmdHg7e7ZluO2ZKhQyFTmSo9LdRj2/WQInSkoqk2zrV5aWOU0
6yuK2hb5PPm5KUaTZuIPIyN0/26C834YbGscUwWrhqUFtiyAHORIdUTIENlIB1UVl3j4g8cCeiOT
hj/CK4r1gVChydejU9YkFqerHH13b9770ON76q7Kry6+d/DIe6cPHTxZ3LjYkG5EuKw80LlnuBXd
bvLsqsl377+93HXPYHzmgbbN47+4et/P/K7FA3/80V1/fGx/xca63GwdKh+oWns/4AxWBh+Ec01G
LLRJL+OQA9wOB8uh9/j3Fw2jxPUoapQ//qdR/Prr+NSEHVmQj+hQI8zbBPOiGS2TDZxVicQhuZ4Q
IyNiK+VY4WPuwUcam+pa+S+Qb3DtYJquKHX3prdebWy5D297zxVwuibAG1nVsqYgTm6pzO/bglrP
1/m3COeYFXTifuApRyyNjSXMS3aA9APzpKJzAtzDdw/EFvg9WSP7Ps9wlxfHD0RbbH6nV59csaHf
/fihPXegfxSUZ8XfcoB/O9nS4S3pLctTx7P5oduG7zt1Dd27dni6G+iJY5QgzwIRYDxZuUhXO+Ku
PZpirRmreeapwQ0bV+JTzx12rFjRaMPbJt65cf++awFXMI94NYUBsq2Xw3lFf/Dqic9xHN+NruGv
6O7Gp7r/2P13ShsZX0/9MPBvOHH88SF0lt+ABlEd/0s6VuBDEfDhOeCDhfgQerngm1kI/dRUgfOD
ubC58rhdaB/yBjSmXcFrOhzu6Ly2/Z3rf5Y0kNjcYlu5X+0Yqu0pa0UFHfz3+h3+9qIdza6a3euq
tl9a1qA6dMC7ImS3Bb4HazYDfvsFepDcQTCEBxxDpqEh/pqhIXQPygWBaOUfxaf438H4PsD0qbC/
xsmfGiICA38T/OXgdzwE7xVgURxEFVwAico80CDvG9s0ZAzUWrxdeSl/sW/ejlMmvvYtsSmNZSWZ
Av1NgMttAi5gkWAucsQgjn0Y0Fi6n38bOXb++/x5wOMYWsqf5jvRanFOKsyREHyAt/KH0RjvAKQO
wC7A92BE8DfwTsUwek7udLs42HBOqVYRMhXwg78ZwPjk4EmMB659Bb/8fXSf5GrLxD2417JfwocA
0BG8TFxH5JOJ8AlxBADCOQPr+JvwwCa06vu4BjhRMwHcmXiKyhvEBvgj2E8ZREvgZ4G7n6y2p0T6
WnjX1R9fffXHn6kczdvv3N7sUIXffIzw0aM8fxR1D68YaSkubhlZEX4jnCNErtYDPlImRdBM0ECW
bB8VasQdP3HjwReGUPXyTZbhRrztm91X8o/zoN2X9riXVlPc/ofilkBOV5NHQxSA4AeSBS4vUTsB
RaLiMnSsuK+VYLrJZ/u8eP2i9c2RuKocrpt99a3X76YYa0JlXUWR+K6wN93mpjiH4InIh47JFbWB
ehOJCCyJDkEMp+LM1FATk0IOP+4XQ6ipqLXOYjBlKtUZ4CCiBPUV8mitJ/ezD7IKram7kZN/GZ9K
yWvxFDdmy6MTMouNV+ky45Ndu9IsuWpU/3Ws1mm+EvavGPZiDOil3owNCfGPDok22UKCSGKw6ZFb
iMLHMg71savr0+1ufdcrR53d/fbxpjxd3+Z2XWm5OdB70x07tjaMlnAx6HxTXazWba5XFlru8PfY
VLXmJaU9rbEapxEUwWDc17/bUFhjJzJObHEXtcXUlyFSlIjrvxrCV3Z3TxzAV5IxrYDrXkFmwSOk
ESPVJKL3gCDmhm4eP3DdULbbzxkDpXrQCNvmO29Zh/7E+0ra8xWKvLYSqk9g5fDVwlomBTX5CtT6
0jr+21X8t2OvjOJhorkTd9GxcMKzP4KxSTRmYKlqkB94j37345En1+zHR0aP4P1rnx45hjsmHoaJ
T+AG+rDjDkF/Qe/xAdGWKLg4WJB1pMNZc935K0/8djNCZ7f+939fhjbwNyAL/y7agAb4M0gh8mSc
njM0fkB00s4h/uylp05tRHr+TxABPczfi3pgLEQsuEmwp2B/IR4CJiLcNPESeoJfg5V8XXd3O7Z0
d078UcApMOljvoWgWMxogM6qDo49+SS+9vy/6tlb65lZ8ZIGKP/zuap/KPDXE/FkfgbM/50wXwOR
DWi+6wDM38FG158fradrTH6JotFH4J9KiWwB2cDrj5offLDl7Qb4IsTfh+4TcGEm92Dr5M/JOhLA
G1sn3sLWHXb6XSJuZ97Ep6ldtTg0N1w11oPbx8ep3hghlk/BaUwO4yL+jeAwysG+elRENiyCO1HO
BhANWcDpcYHrw1Jn5Pp26Rtyi69AnxmjNMe6TGzLJQ1LJYpsf94PbNu4Ym3M5+ptKp1FtSywAo39
JCols9TMv6mLqojNN3V1Vst1Ni5LkhJV1qXg0l/qliez0XKDpq9BsEFlgJcE9iKFZIUcxGA73J6w
m2PhTICL4AWNd4SwZ3DlZk3xssCAHaPM68d73LUNILj/bsU3bXQM9nrafvPr0/0dl1BeZE2eRe8B
vali5CGllIA3wE65Uui9rpTRRbXXF9TGdUWl2jrdYzt3bR8YRH0bLmt/sdLLVQTMN162++4NFE8O
4H0FeCrBQyQS5uKm3QqwOh55OH7hDOirDlw4ElhWrNm8Mr8+VY75jxpq3T3j15NjrmGJp3fQsfEm
Y6ZWhqR8ad8lHf2nAX4O8CEK8FURO28Cj2/awVOr9BS2SU9jo3tCbGG+O0SQvWQjf1XzotJF/J8R
F3vA13UsozvTSHA+erCjp/bhuwYEmQHdQFL8DtFleuSACLqcDrtGReBlgp5IQ6GGhgPxGerEDG0I
Pc+Xo+eDvZtwK87MrqS4GYH2NNAXsAmKKTpNciHgYC0OYvUkTj/iVDO44nDtESgHRY2VG+2tdnVe
Sa5BEkoeybDq1AnRLLYui2AUklF2VPDZGp0/z6FXS5TZ3pyOWJXSqM5NTlFH1U0xrxHoqgR6PoM9
UQs6L7jMckGGiHyjz0IF3vLOUAhX9KQV2Y0aNMzfhbrLvB19/EcgOP/sikm1VAlyWA3Ph6bzlpzc
A1w6FIJ/OG7iHI5bNkzHTf590kbHJRFLpZDTwNniIhyRkwjoEJuY7jKlKFJytXTmfSnpuelKtkmV
j1t+NTws7Aeshc5N2ThWRv0UjwPp37r0aLCr64MNqIF/AkVX/QZwHHxvao6IH8XuUCjCZwI+sIjq
NkOyrZR4rBHCahVljMAXMWUnr+zAvuV6R3ZiTLrBb04tdhtC1tG6kNmqzi/IwHGNPfJsZXJWVmoS
1+jkb0WLywJdHv4EGs0pTTIG7fxHzBTv08Crn+J9Il1MXJ8w315OAIbIatPsr6qvEqCQhab5z01+
iWMAnoxYZzfJISqlBgzHFZxWcJwbwB3Z+enOnZ9yCbqKUIUuQXi59f1jx94/hhzl/urc3Gq/8CLa
lWKwK0RmQV89UzLLEvyoJxy2MPKDxIxcP97ZgeWp9fmCgVlmxWfAkvT9emIE/75Rm2kUDEwd/62A
azH6HGCHbYGcmyX17JTVQp+HZon4+PVEJUA0zEgaIc78h6d/DcJP9xP8adQE8BOFvRY4Co6NQXoP
MNMbSojV+xpREf8ajlsywva1Czmds+g1mFMQzrSAPSL+EM1WEBUVs1ERjgl6tovdosi1WkpC7VWX
9XmXWNNlqAvFppVZHbVW38iWjZ2uVotWgi4PRRt9aYlqZYW7dSDdVGJOVWaZlHm5WVlJqVlD7d1Z
OQ4dtTOT3yCED1Ofg5MrvUhFY1UXNThABUKdLl2CLiXKZ6uvD3WCoXkotxZFYa8L9QRvvFHM155F
f8Vxgq/tsgiRL3FcqNsC3vJfO3Bmk792ZWhlTll2YqgJFxU0d6Er+Xs2ZbtLdSgbYETTWD6OZiWo
9+FQ/Ovmwd8OPDtyYAg9QLSZ7w77US/AuPn8lZGRvtsGh/HK5SN4NHR73yi6hV8L81aiQ+QxcQ7d
Iugl0eFPAYagyxYZR05e0GX7Exuu2nnJE49cumXLGErgv3rhBXh+4glhzmQepVFN8cMyYkUtNKHo
ASTOXze0t0SrNSjMhuyYjNQMfbr++eFrAXF+/KDf51cpcHRbjKkTpwIRiFRQ0NsAC3yZGKQXvRn0
Mv8/qJJvRF7+PXQL+hW/P1iLdtBcSN6kDxnBF4E42eOyu/3I6YZ94gyZCI4cVRarUSnp32b4xpzH
2fy51VZblDc1VpulxjZrda7f9qmvwfOQt65y8QMVdVLMJutKjfcvrqzzPljSKPBkYPIMc6/oC8HW
DQRFT2jW+khFTh+lNB/8ZrsflbMelw1ZXE76txq+USOjiABWZ2ljU71RAgLI7GsseZBgcL+xVJfM
YmldxQMEg4c8DWQNP/M4jkN1xEIjDU3WkXQm0SFyTiH0F6O7Ps9X7nLojQVtloYWrYJToLqSbj3X
UNKdbdSmgo5fPukHny1OqHcpQHplDpL5uZzWu9A9IyO1/MkzZwTb5ZgcxwhfAnKXR3ZUzNyYOLOF
VU85HSAaQnUE0PA4ZFnorbFoVU1nLgouVhatT1C7GuVdUWnFPWXJVl2uobxp9+aMpDRLak57C9rB
jq1z9/+zM4XfGeVu0FVU5cpWbczavvS6O6R9w3FLKF/1k3/H6XAeeEidQ8XRzJVHRbwHggHhAmUC
yWJZQB3DqctMxIVTTS/f+/2Yci+urDJclqIoiM8NVGQctLgqimvcirW1+VrXytrRdaEmf7AObQ8Y
sm3DORibOEV8VVFBTm3BanNmfiBkM1RXWHYuSYoJtC3OtVHeZDArcDLuAz+M7LhGRnI+JDg0kJII
SaJaIG60ayRKtV0IH9H7RR673V3g8T7u9RS47XZPUan3IS//q5UHV8Iv7ityl/b3lJcUlHk8ZQUl
5T39pe6iEofj18HR0WD9KMkdgtzhXPCl1XTnaPzAkmJKuKDicOXdeWL4kUeGTxw6ceJE6LnnUH0p
mNN3IaR4rbSr9Be/KO2iuE/LsUyQZJZKczCoQGb+9+hPSMV/RsblT1ZiBsY5mQCNDKMoP4n1hU0Q
y3UQGgqRoWB/w6KQhVkLHUs2Br3chXC8wpLGlQZvdJWUFDo31PaMhYbkOqPK80al3Z6m6u3V+0oN
/T+pLnjawOG8pBSjSp6Ta7N26xo2BrM83mCof9kGabIxNd94XX6rty4zMy+zck2yZRH/4VpDoDRj
qyafKyM45+ClyISfF/0dYAswx7Wnb6IPPz8yQvOU7OSXEEP+neYpNUwxxBvTOUhpZLZeEpmf1NDA
WMxcoo0//PDDHx7+4AO+8NE9ux99dPdVj6HjNYkjdcPbrhhuXBNbHVNZWNPUXlVYoXj37iPvvPuj
u99F2w48/viB/Y8//krjkn3DI7s7GvOKlzbULXcBplpUhHoBn2zQMxuxHxGRixi3yGhkg8F4OOwW
u9sCQQzgQkpCqDdVZtBiR0Ohb0NI21Qnc0ddk2QoykqRPJkXwLGLa50oh38H/cYqSUt1OHJ6EmKj
wCivkSRbMh5TSPJ1lthYmdG+pgh4N8SMoZfQMxCrJZAsk8XlUckkwgt/+PAa5IanX4e2Ld0Wam8X
XsL1vTGar5aAh+8CMy1H7/Ct6Nux14P8xwwTNYPfRkLhQhzXEI+Rpk81XCES5CofzcPtP1f9uKXp
0u2Nm5paU3WG5GW9c/l87Gn0uK9iNPG5p0uiErK0FYBnLN6EqvFDQr0QTpRq/rf4odJSqhNudAj2
4FmQGjg1UwxSordON/hqZvDZvmjxelu8RZ3bOzu345sDbYFAm5q87xTspFDf/JYRTtyICqecBOBi
lfNb1HPkSBB++XuDYq0zCqUCPs+Ss2661iclpT6HSu+mlT43sKXVpzUUcimBDq+vwJP6NX9CssKX
IdfFsLm2DpxjKdOlSGpLnb4sTWauf4NHnxSXmq5MywH4Ejj7agF+HrGdxE9yOW0sPYUEkQpvwXRx
T1KDpHIufTBJoVcma9IXtzVJ/LWLK5uMmqaOThucnXcma9OT6pWZidHIUV3SVrK4vNhklWJlc2mr
IpPQtBW3o4AQqyM4GVDgquoefJoE60LNmvgH2mkfyAKMSkVz3CB3Gg5FOEKGD9HySFcIYKVMdqCz
cC4kEAtGxclLPVb5J8uu2LruX8ErHsaSNa2DA+f3sYHzJxjR/3yGOYm8xKdRhNsNYOJ1WrMpLdVk
Rl7yYkpNN8LYgkkdAhqI106Otan+BItHTethwL/WikKbOsaaU+G2OuXm9JLs5LiM7u7yKFtmjlOd
k5SnVEQL6+ajVOY07EM02WdXOfI45NxtY/7ihJJ6XGmLyijie2ldLhXsQBfNiWpItMyI0qemcYIQ
MyCq8l1L9y5dujdVJreUWOQy4eUToub45seamx9rfsLImTUaMye8/HiubstcHotLh+iLhj+8Zs3h
V8jTX6Y1G14AgygmCLr7tViPTaExvEtBgjHYNz/mZKRHQxKmCR09VVFdXYEPPsTXlaJf8kOERlfN
gA/F81+WDQyUPfkktpA2jG35ItEsnDFnWAmtt8czVuLrRcCTXEAp8BphjVUCH9HWCynJs2TRnQKn
YxdUGEpvAeCTN0WvP5Jel0XmcAHBMei7KRN6V2THDXqK68QP/4N2TTHq3JNPojGCM/+HC+sbZvom
PTgJJwj1PZMjEYfzK55ybHGQMh8SiiKkqwkdv0CBT79QfQ8bhXNTqJWxR2itLGlmtQystWZOxUxz
1VjPdNXsUTACF4ShIPZiNozbwX5Mw0DlNO03C07KTDgswHFo5hbwUFXriv4VbRHQEvsjcLqFwjLM
won6AODbiEewDgmu9mzYV9ol7lylJc0q1ycWJfVkWtS65BSNNGIte2F5QkySdW1STII8WZA1Yd19
Ii8Us6gQfZc5SxnBmYmAaxDdmil4Ryk8BdXVCHiYZh7MTjU92cyGOXBz2pzONmdOljUryxoBv8JJ
Pk8hn2aBvIENY4+H80QeAB+u8sGPHyww+1zrGgiE9vJbaVZknE8Z2kegkaJf9+vdqJ1/hJ6Z1kmd
WNf0XrCyiRYwvv+x4slvizTPpgxqni9UBp1YPNd2C7Wk1SBngrRGVDVJPBxZ2fweCHu4uomfAbm6
wFxyMkbORYUg5eHJ7CJBxiPnp8xaW5DwSBC3CsI9BSSdiDbItgBj35SERUIRJSwSzCYQrikYhVS0
8ORXpK4JeEznEIH2p4bSSB6eZuvqyFqY1D+RccY4wPOpoReJC0DHvUnHTX4L4zLpuNjpcUDPU0NF
AhXC6KOUBBgFJxaKBRpYoUpPZ4i4PzWUQHx7Ov64oAmYMo/UsuNpHosESNTBzEcqmStc2pZw4KZu
fI7Wsn/+GK1us4mawvIhH/8Buqv7K1LS/lN3N7I/d1iR11SzyM1B4A2waa0TbIVgKSKqnez8liKi
CFo2v42YURtl42aYCVaok1I7R7tK562UIiKKC1VL+SOwTRcomSIttYHfZR1iWBdc56ewyxda5h5B
HiPXMSxEjyjeC5J0XBCTCy23uT9yvVvoevaF6Fpg6xZa/7X5N/JC6Nwx0/pHiXjtE/nNLcSJsIou
yIqbQfwvtPA1VClQRIzCkNREuHvz7EnniycdL77oOHnSMRF+A89MmHd/pv5oEqlKxyAhUotB4cYr
scFOTHkQX03jwS38tVWjm67mA+jy6rFNV+OejsUE2+Ybe9uyO7ro21t72rGOX1t/dPcl/NvotuDR
3evQi31rbrcTrJcsyegdvZO+7emhdpDWfEFmVLTqNU/VlyUKMKvy+xq1TnOrvzie2ub/DJMI+yyY
emrJ5oF5xyyYGQvDJII9C+wvw1ZvHshrRDkWYO+j+GYuAD0sLLPAv0ct5Dywdwj2XagxA97RpItw
qspMEntTleZ7gfLIavObkWeU0GuhnOq1QCS1L/RagM0l3Rb874c+pN0WH+Kob3ZfOXEen7qCdls8
QWtAk2exF78j1Hmm2qzDHYkutehiu8KHv1Qlr97yx91yvTzJWfH9jUq9Wv3AA5rkFMmh1mBbOVb2
rF2+2OA2JsYmrijetVO2iL31uqhWfKm9vKGOx8BLoWZ8mtaMSy+6akyE7SIqx8QvuIjqMXpV2O//
PxyJg3AROBL34yJwxEvn4ui7eD4KynARaI4KenIxmFrDPoSA6xsU16aL5+f8J8RF4C6Z/8y4GFra
Zp8hAk3PizLiv/gdEA3GRZAxDrbkYnCuEHyyMK5fU1z9TO1F4zo7fLkInH8QEdhcDO4bIyMfUYbY
VpzGSBgPUwOGSx/OEpOYey72Qs4WadyeyGaHaZLQ60J3A9IJnQ97/A3jM2lggcjC2ixtTnpB+VRP
xE3TTSmFdw28SFoj1q2bRYbyJ1ptmiVBTfslHLN7U7ImdWIPSfEFukgWCLwW6C7hX54nGzan5YRn
5sZYrNgjcpr2iOgu3CVCIo8LdYpsBWs7p1vkz6INuIh1aO7yAuugXDCZcxZCl1JfOnIdw4XXESO5
Cy11g2D15i5WKdi2KHG950W6uP+wYjivcIEl14GWz12vS4yvaDz4BM3xRsSDx0Nq4nHRphIxHlxG
4sEZ44Da46EXiBdFx0XGg3TczHjweMgqekZ09Mx4UKzxzIoHj4diiLdDx0/FgxzwJxb8WAW57ZCi
zGLt5azTxoKKIupliF24QgnTTL1ZEHiNZ6dMmV3aUJqtlIXfoLa1zR3Whpa8wApv1rbRxQ6sa9ue
d3luUaPTMork5gIPsRaegvAbtM1R//PB7l012baWAcfauz24ubI8DwAZlToH1UWh3+QNRku7L+ft
OFkgPJmnEWVkgUNm3v4UVD3zPGHFXpXT4fzzvN0qZKvn61jZDJs/b9fKF4Kv8F1gE6WbDzYygsTM
CxxtD+cDI+FnLQBfVLb5lrhWELT5F2nqj6ThDbqGbSEa5t+secmKmn+75kdiw9z8oYDP8yJPdQtR
LarGfCisBmWZf7lBqjxCDKjH8VTrNCSj6NIbw6luA55+J9xOeTY3PSMn150rvLwTvLYkJycjLY//
gfAKUDImP8WpWA+6mEl7+cU6shhCUg1ECvEKpokVu45xaq1r5+ahcp+uonTn5pWBCv7w33JqrUAG
SvvUVE3eYFlL45oNx3w1aQ1N6zccq2zg16M4J9Cjq3qU/6eNvAkQfRP6cE4Lcd+8nTg0lT2rG+ev
IN1zOnLqwjHQf4ZJY6lZMMtAqOfAfHMuzIwLwCRHxyywbwqSPAfyUSHXLcB9PhxHzg85fETMAv0P
kJY5cI+H889Y7P85zajJLca5HUDpRL/n7wK6A3gxbycQ3iH2+Qp9b6S3WTer703umLolOaPvLYRj
5Sa3fk7jG3uYP5esyk6JaH0Dvgi4P09xz5q3fynsLc9PAQe8mZ+CIZFBiJyHzHHae0PPrONiCybt
k/6beFeDnG0qGb2tIXN5yD0P7nJya2NwcAhHl1XzL3WjkKfMg3z8P8PzmC+FnkuFDIAKkzxfLgkt
gV/0Mzu/C3XYy+yokj9jp/3SZ9gX4CyUk/PGJJw24I5q6NU60nU/9ePihC43Ia+DJYPNnvY8rTQ1
PdTuXSlFT/BHUTP/M7SMr8UaXXvJ9w8l5VVtaNjm+RhJG0PF1cuqTUsClb5OdDZIc/+LsnT6135c
OLC23bWU2tKz7H7qS5tI5/YsX5r6oWAN1JoI/8UYadWwDBnBVelG2YIbs6NW7izLVW7euXPzvkDt
fvBodreARzPRO9Pkhj3mlXprigTMHl49Sv2bozM7LbFwJ4I9AlxyX9StCESqxZzlO16O4H9eVdUG
6vodL0mgq/v7RX0Q+iJPMwWM8yI6IwXkvmuDJP+NiN13aZRES/vD/pmQT9pH80nJERklU9iuhLNK
/GESTkaklcLGBAt3GYD/MQTC9G0GhcjeiEsN/QKSU3cb2EUCIljsITwtwJjuIjSJXJjRTMj/TaQ1
3FT4pkgO6Ni5yWJ0DnSGVBNkwOkkBFSwtH3BQ60DufTpKQcNQueS8pL8SuXGXb70lU3GtKQMjS1X
XrFuW0Zip8+C32iRD62q439x44749sT2ftRTt90n3pFX4XZUAriSu5yCYf+x6Pv+JIzHjDECDcMC
0vi0iCxiEnAHqsR/IBUj5BAFQU37AzGSFyXdYCrNVEhwcXx8emlGjioG/+GAJtOqTQa3IDGT3DfZ
gpcyb1HfmnZPvUX7poCXi7APsRC/C/0xs4LxXRERNv56ZthM7plBvAl7QXCSaMQwGcJLFSlNA88S
5Y4Cd0WCK7/al1OSfjRH7cxRFXjio/ROC73/MXkeD6B28LtIP/wCvrBuflcKvzHTawKZAB7eMRWT
AKf18Pi/PSS7uUfoVBF6VRjm79iKSsO9QuQ+CiqljTv0O/aT6e/YT85rp76rRP/L3I/fpr0ewD+n
RyVV3b96tQtXjC7fpy2MHoAxLvQqc1i400M6MJXk3rCLjBmOGDO5ljnMjJIxjsgx4RH0Hjr6X+Sg
a8mF/wGBrsaF3yAHjN8QufbUZMykoVeRheIgj8Biaqm08NTh2VPJ3Mm1yEJxk0dgN2furJmIyZ8c
wjh8n5ILd0+rUN3A008PPIUemXgMtzS9+WYTEzFWQe9ehhscI+Y89RTMovOO8881nTzZhCqaXnqJ
zk1hTqJmLCG8E3toQMqa+69a2ldVie6Dl71LqZ3aBE+b6f8RIRPvVZJbZ/Txh9Xo5+R3VPhH5FjG
yODs/JD28SjBd8qFaDJA7i8oRK/b7IloZZv3Qwn1l2d/yiIOyfqu6oPfgNti9kD06f5m1t/I2ldZ
sTTykxf5TR40jtMrybjeKoubfOjhO2f+bZ75J44S/hcUxISYMeYc7QcKd/qdm+7um/U97RJShdas
OTwm9AeBTvZOngEek74d2rMDrgBpcRE6bYiM2JCdvZr+fyFEa8H4kw0n10vJq0q4rYMLLr9sQxDv
tu/GwYZdwV34FP86KuSHyZVa+rjLx/8IDfqEHsN3sB7pyXokBhHiDfqfhtDzBj1G7wFpaeVlnrtA
tDmMXH2ZeSfoIXIRZtbFoPCtGFoXQT8V4c5/w8hDjrYZEB+YDe5X4nWW/wf+LWC+AAB42oWRsW7b
MBCGfylOAi8egj7ALQUcwFCkOLEtb0aGJEDQIVm60hJjC5ElgZQNeO8z9DH6Fn2Izn2Ejl36iyHc
AC0QEbr7eLz7eSQBDPANAV6/r0HkOUA/+OE5xGnwy/MRPoQfPffQDz95PsZpuPZ8wvgXZga9PoVG
rqrjAGfBd88hBsFPz0cYBr8993AWzj0fYxB+9nzCeIMb1Giwh0GBFdZoIRgiwzl9ghQzXGN04Okb
Tg+cIiYtkFNrCU1+oqKllsaGXnCPipo1d2mcVW4tR8S1rrLkkDc9WDfT9Jp+53Pv6Es3a5mZUUXo
u9yOWqebuz0V+YWxGs+0D8yqyC27alx/C9y6qor5F66jTul1X4stT2E5z/kr11XXSQTc1M3eFKt1
K8PsXJJ0dj3q7NTZtLNpLIu8Xmp52ttWb6zcV1ltmtqoVueRyKIsxSlYMdpqs2P0Tpc73RaZksKK
ktaoXG+UeZH6WR6Kqm73jZbFragqv6iNFKy126Ut8kKZQlv29e/F4CAKPDK+4qFKdxg86tW2VOZ/
VXM+Z8JHnmGCMcclrkh/teZJMp1NxuPLq8l7m8YcCe+s80yO4ySK4/eq/gC1XZedAAB42m3RRUwW
AABA4U/EwA7sTkTs7u7uQMXu7u7O6dzwok7RuYETMXGK3a2zu7vzqv88+7Z3focnyD/+rFfB/3gT
MJkgyQVLIaVUUguRRlrppJdBRplklkVWobLJLoeccsktj7zyya+AggoprIiiiikuTAnhSopQSmll
lFVO+UC7okoqq6KqaqqroaZaaqujrnrqa6ChRhproqlmmmuhpVZaa6OtdtrroKNOOuuiq266i9RD
T71E6a2PvrZYYKHDor21yCrLbRBrq2Xum2+t735YaZ0lTnrsm43i/PLTbzF2OO+seP30t9oAFw10
zgVXXXLZFe8McsM11+002Fdr3HbTLUN88MlSwww13EgjjLLJaGONMc54E00wyWTvTTHNVNPNNMMB
m802yxxzffTZQXc890KCXV565ZDXgSfb3PXMAw898tQ9T+y2x36JTtlrn9PmOWGx7c444qgkK3xx
zPG/+lxvTgAAAAH//wACeNpjYGRgYOADYgkGEGBiYGRgZngGJFnAPAYADkYBGwAAAQAAAAoAHAAe
AAFsYXRuAAgABAAAAAD//wAAAAAAAHjaTZQ9TFNRGIbfc08pxqi1mybCVP+IYoI//MhYoGItWCy2
pSQ66ICGwXRwMiY4ECfDZExjZHFQh46kcxOjQ2OikstAYjrI0oXFweX63HOhmObhnO/vPd/5TqmM
pMPq1wWZx/eryzqkGB4FgcKIefTgSehTZBHz3HpIJvbOZQ7qoZ7rpV7zeasfaqtj4iZlxsysWTav
zAdTN1/ND++Yd8rLeU+9D96Gt+n98v7aE7bfpuygHbGT9p5dtp9sw36zv20n5sWOxJ7FXsTeKK7h
oKVRGAt8jQfv9TNoyg/a9LEZ1LQFVhbfvmWwWjqqM+QMwBBcgeFgVSNOq4FWC62aivhL6JahAlaJ
oKMkjAR/OCFBPAlxdg12DaXIihSibnqJLBFZIlJXGt0M+XkoBN/V01VIoZmGIvTQU5jnk+e7HirY
vXS4hvYa2g20q3jb3Ooet6oy7wS5SQiVhl0X4Uzaus7dx6kIe8ySkSVjlbN8TmhxQouJhLeJc2pY
2cY6qB5n9bq3PsZuVcc5L8nah6cfQr0hatKsGchDAYpQhgrY//rzdQRrBZ06nhV0fHR8N6EB1kir
gVYdrTo6Db6BCXbHnUadzJbrNrpFNM9oTh2nXd3rsYp2E+0mFWtUfKSiSkVVWTLzrEX8ljfu0GnH
TbS32+kEU5nZe5OSi3bcLHaVYxd3uySUqAqrF/Y66O2+ahr2+9vUkLY0zrQL6Bp3lkc07CPULeKt
oGbdLjpv150SdVPCKkN0SttNdJvItrMSWC2slvr4Xw0/aVSy+HMwA7M6qdswR+yuzqmIr8S+ArZ7
lzJaPW7WSfd93aHDHTrccd4m3ibeXbx/8Ib3yOxV1IjV3Hf44E4ZMvNwivg68XXiX5jrF03CFGTg
BkzDTcjCLcjBDMzCbcjDHNyBAszDXShCie9HGRZ43wrrIj7D78Bn+rLYU0ylAPOwiTf8BfD5Oxje
W0k3sZRO64zO6rwu4r/EW13WFV3VNQ1rRKMa4+XSmtCkMrqhad1krrPMM888C5pnkmUtMMtFbegn
b731D0EsDa542mNgYGBkAIJjqdtPgehDqe/8YDQAUU4HdAAA) format('woff'), url('../fonts/Helvetica.ttf')  format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
 font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif !important;}
html {
 font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif !important;}


.tags-class {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 20px;
    padding-left: 16px;
    width: 100%;
}

.tags-desc {
    font-size: 12px;
    line-height: 54px;
    vertical-align: middle;
    width: 14%;
}

.border-span.ng-binding {
    border: 1px solid #ccc;
    padding: 4px;
}

.tags-chips {
    border: 1px solid #69b400;
    border-radius: 0;
    color: #69b400;
    font-size: 10px;
    margin: 3px;
    padding: 5px;
}

.tags-button {
    font-weight: 400;
}

.new-btn-alpha.md-button.ng-scope.md-default-theme.md-ink-ripple {
    font-weight: 400;
    margin: 2px;
    padding: 0;
    min-width: 15px!important;
}

.activetag {
    background-color: #cacaca;
}

.whiteframe_1_2.new-btn-alpha-grade.layout-gt-xs-row.layout-column {
    margin-top: 25px;
}

.service-title {
    font-weight: 500;
    padding: 12px;
}

.icon.icon-star.s10 {
    color: #ffe4c0;
}

.service-select-active {
    font-weight: 500;
    font-size: 15px;
}

.new-btn-style {
    float: right !important;
    height: 10px !important;
    margin: -38px -44px 0 0 !important;
    min-width: 43px !important;
    padding: 0 !important;
}

.full-text-width {
    display: inline-block;
    max-width: 100%;
    min-width: 84px;
}

.border-style {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 100%;
}

.editor-range-slider {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    .editor-range-slider ._md {
        display: block;
        float: left;
        padding: 0 16px;
        width: 33.3333%;
    }

        .editor-range-slider ._md > span {
            bottom: 6px;
            margin-left: 0;
            margin-top: 0;
            max-width: 100%;
            min-width: 100%;
            position: relative;
            width: 100%;
        }



.new-capacity {
    display: inline-block;
    margin: 0 1.5% !important;
    padding: 18px !important;
    width: 97.1%;
}

.suspendtext > span {
    border: 1px solid red;
    padding: 3px 6px;
}

.suspendtext .icon-information-outline {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.suspendtext {
    margin: 0 0 0 20px;
}

.small-navigation .md-button.new-btn {
    font-size: 13px !important;
    min-width: 60px !important;
    text-transform:capitalize !important;
}

.input-field .tags-chips {
    float: left;
}


.rating-list00 {
    float: left;
    width: 100%;
}

    .rating-list00 .list-rating:nth-child(1) {
        width: 20%;
    }

    .rating-list00 .list-rating:nth-child(2) {
        width: 9%;
    }

    .rating-list00 .list-rating:nth-child(3) {
        width: 10%;
    }

    .rating-list00 .list-rating:nth-child(4) {
        width: 13%;
    }

    .rating-list00 .list-rating:nth-child(5) {
        width: 13%;
    }

    .rating-list00 .list-rating {
        float: left;
        list-style: outside none none;
        width: 11%;
    }


.w49p {
    width: 49% !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.jobsrole0 label {
    left: 15PX !important;
}

body #info .pl15 {
    padding-left: 15px !important;
}

.md-primary.vegetablechip.ng-scope {
    padding-top: 4px;
}

.input_tag {
}

    .input_tag md-chip.md-default-theme {
        border: 1px solid #69b400;
        border-radius: 0;
        font-size: 11px;
        background-color:#69b400;;
        height: 28px;
        line-height: 26px;
        padding: 0 7px;
        padding-right: 15px;
        margin-top:20px;
        color:#fff !important;
    }

        .input_tag md-chip.md-default-theme * {
            color: #fff !important;
            font-size: 12px !important;
        }


body .input_tag .md-primary.vegetablechip {
    padding-top: 2px;
    padding-right: 4px;
}


body .input_tag md-chip.md-focused, body .input_tag md-chip.md-focused {
    background-color: #FFF;
    border: 1px solid #69b400;
    color: #FFF;
}

.input_tag.input_tag_yes md-chip.md-default-theme {
    padding-left: 35px;
}

.input_tag.input_tag_yes md-chip.md-default-theme {
    padding-left: 35px;
    position: relative;
}

    .input_tag.input_tag_yes md-chip.md-default-theme * {
    }

    /*.input_tag.input_tag_yes md-chip.md-default-theme .right-click{left: 0;
    position: absolute; }*/
    .input_tag.input_tag_yes md-chip.md-default-theme .right-click {
        /* left: 0; */
        /* position: absolute; */
        float: left;
        margin: 0px 0;
        padding: 6px 18px 20px 4px !important;
        border: none !important;
        line-height: normal !important;
        border-right: 1px solid #69b400 !important;
        min-height: 100% !important;
        max-height: 100% !important;
        font-size: 15px !important;
        padding-right: 16px;
    }


.input_tag.input_tag_yes .md-chip-remove-container {
    position: absolute;
    left: 0;
    right: 0;
}

    .input_tag.input_tag_yes .md-chip-remove-container button {
        width: 100%;
    }

        .input_tag.input_tag_yes .md-chip-remove-container button i.icon.icon-close.s20 {
            position: absolute;
            right: 0;
            top: 4px;
        }

.width_tags {
    width: 70%;
}


.md-raised.md-accent.new-order {
    padding-top: 4px !important;
    margin-top: 0px !important;
}

.sorting_1.client-show-id {
    cursor: pointer !important;
}



md-progress-linear.md-default-theme[md-mode=buffer].md-warn .md-bar1, md-progress-linear[md-mode=buffer].md-warn .md-bar1 {
    background-color: #69B400 !important;
}

d-progress-linear.md-default-theme.md-warn .md-bar, md-progress-linear.md-warn .md-bar {
    background-color: #69B400 !important;
}

.filter-list {
    width: 70% !important;
}

.mrgin-left {
    margin-left: 40px !important;
}

.filter-list button {
    font-size: 12px !important;
}

.profile-link .client-order-new {
    margin-left: 30px !important;
    margin-top: 0px !important;
}

.profile-link {
    width: 100% !important;
    position: relative;
}

.right-section {
    position: absolute;
    top: 27px;
    right: 14px;
}
.client-name-list ul li:first-child {
    padding-left:0px!important;
}

.profile-link > span {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 52px !important;
    line-height: 40px;
}

.profile-link .client-order-new {
    padding: 0px !important;
    margin-top: -9px !important;
}

.one-info {
    margin-right: 10px;
    display: inline-block;
}

    .one-info .head-client-info {
        margin-right: 5px;
        font-weight: bold;
    }

.table-header .column-title {
    font-weight: normal !important;
    color:#666 !important;
     font-size: 11px !important;
}
table.dataTable thead .sorting .table-header .column-title::after, table.dataTable thead .sorting_asc .table-header .column-title::after, table.dataTable thead .sorting_desc .table-header .column-title::after {
font-size:10px!important;}
.button01 {
cursor:pointer!important;
}

.inprogress {
    width: 30%;
}
.inprogress md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {
        background-color:#69B400 !important;
        height:8px !important;
    }

.inprogress md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
    background-color: #b4d97f !important;
    height:8px !important;
}
.new-list button{
    font-size:13px !important;
}
.new-list .mrgin-left {
    margin-left: 10px !important;
}
.new-list .md-button {
    margin: 6px 0px !important;
    min-width: auto !important;
    padding:0px 6px;
    text-transform:capitalize;
}
.filter-list-1 {
    width: 85% !important;
}
.inprogress md-progress-linear {
    width: 64%;
    float: left;
    text-align: left;
    margin-top: 5px;
    margin: 4px;
}
.new-list md-input-container{margin:0px 11px 0px 0px  !important;}
.client-name-list ul {
margin:0px;padding:0px; list-style-type:none;}
.client-name-list ul li {
    display: inline-block;
    padding: 0px 11px 0px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-position: 100% center !important;
    padding-right: 33px;
    font-weight: normal;
    font-size: 35px;
}
.client-name-list ul li:last-child {
        background-image:none;
    }
.profile-link  .new-breadcrum {
    font-size: 21px;
    float: left;
    margin-top:0px !important;
}
.yellow {
    background-color: #D68227;
    padding: 2px;
    width: 31px;
    color: #fff;
}
.green {
background-color:#ABD570;}
.orange {
background-color:#FFA834;}
.red {
background-color:#E61610;}
.gray {
background-color:#666666;}
.blue {
background-color:#0078CE;}
.purple {
background-color:#9C29B7;}
.btn-nxt span {
    font-size:15px; line-height:36px;}
.btn-nxt {
    text-align: right;
    margin-right: 13px !important;
}
.btn-nxt  .md-button.md-default-theme.md-ink-ripple {
    padding-top: 0px;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 6px;
}
    .btn-nxt .md-button.md-default-theme.md-ink-ripple span {
    font-size:13px;}
.order-item-listing .bottom {
    min-height:0px !important;
    padding:7px 8px !important;
}

.new-1-list{width:100% !important;}  
.new-1-list > ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.list-btn.new-list li {
  display: inline-block;
  padding: 9px 0;
  margin-right: 19px;
  color:#666!important;
  font-size:12px;
}
.wdth100 {
width:100% !important;}
.head-task {
  font-weight: bold;
}
.heading {
font-size:20px;}
.wdth100 .btn-nxt {
  position: absolute;
  right: 0;
  top: 0px;
}
.Manualpaggingbyorder.wdth100 .md-button {
    line-height: 29px;
    min-height: 29px;
}
.Manualpaggingbyorder.wdth100 {
  position: relative;
}
.Manualpaggingbyorder.wdth100 .md-button {
  line-height: 22px;
  margin: 0px !important;
  min-height: 40px;
  min-width:35px;
  padding:2px;
}
.Manualpaggingbyorder .heading{
  font-size: 26px;
  margin-left: 24px;
}
.input-search-n {
    position: absolute;
    top: 0;
    right: 0;
    text-indent: 10px;
}
.bussiness{ color:#666!important;    font-size: 14px;
    padding: 2px 5px;

}
.bussiness > span {
  font-weight: 600;
  font-size:14px;
}
.search-nxt {
  border: 1px solid #ccc;
  height: 52px;
  line-height: 50px;
  text-indent: 10px;
}
.dumy-t {
  border: 1px solid #ccc;
  margin: 20px auto 20px;
  width: 96%;
}
table.simple tbody tr td {
padding:17px 0px!important; }
.length1 select {
  border: 1px solid #ccc;
    height: 40px;
    text-align: center;
    width: 116px;
}
.search-nxt {
    line-height: 50px;
    position: absolute;
    right:24px;
    text-indent: 10px;
    top: 0;
    width: 44%;
}
#DataTables_Table_2_filter input {
  border: 1px solid #ccc;
  float: right;
  height: 49px;
  width: 52%;
}
.action-btn {
  background: #039BE5;
  padding: 4px 14px;
  border-radius: 4px;
  color: #fff;
}
.simple th {
  padding: 18px 0px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.table-area.ms-responsive-table-wrapper.ng-scope {
  border: 1px solid#ccc;
  width: 96%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ph-16.border-bottom.ng-scope.layout-align-space-between-center.layout-row.new-nxt-prev {
  height: 82px;
}

.tags-new .md-chips {
    width: 59%;
    position: absolute;
    top: -8px;
    left: -4px;
}
.search-icn {    position: absolute;
    top: 6px;
    right: 15px;}
.btn-dropdown {
    border: 1px solid #69B400;
    min-height: 31px;
    display: inline-block;
    vertical-align: middle;
}
.btn-dropdown icon {
    display: inline-block;
    vertical-align: middle;
    }
.btn-dropdown .action-btn {
    background: #69B400 !important;
    padding: 10px 14px;
    border-radius: 0;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}
.action-bottom {
position:relative;}
.action-bottom .icon {
    position: absolute;
    left: 7px;
    line-height: 28px;
    vertical-align: middle;
    top: 0;
    border-right:1px solid #ccc;
}
.assign-modal {
width:38% !important;}
    .assign-modal table {
    width:100% !important;}
  .assign-modal  .md-dialog-content {
    padding: 24px;
    background: #FCFCFC;
    border: 1px solid #ccc;
}
 .assign-modal table tr   {border: 1px solid #cacaca !important;
    background:  #FCFCFC;
   
    }
 .assign-modal table tr td{border: 1px solid #f2f2f2;  padding: 5px;}
.action-bottom select {
-webkit-appearance:none; -moz-appearance:none; text-indent:32px;}
.tags-table #DataTables_Table_2_filter input{width:38%; text-indent:28px; border:none!important;}
.tags-table .search-nxt{width:60%;}
.dumy-t thead tr th {
min-width:auto!important; text-align:center!important;}
.dumy-t tr td {
    text-align:center!important;
}
.dumy-t  tr td input {
width:34px !important;}
.dumy-t tr td i {
vertical-align:middle;}
.writer-info {
    width:100%;
    border-bottom:1px solid #ccc;
    min-height:25px;
}
.writer-info  .list-rating:nth-child(1) {
    width: 16%;
    margin-left: 23px;
}
.writer-info .service-title {
    padding: 12px 2px;
    font-size: 11px;
}
.writer-info .payout-data{
    padding: 12px 2px;
    font-size: 11px;
}
.writer-info .list-rating:nth-child(2) {
    width: 7%;
}
.writer-info .list-rating:nth-child(3) {
    width: 7%;
}
.writer-info .list-rating:nth-child(4) {
    width: 7%;
}
.rating-list00 .list-rating:nth-child(5) {
    width: 13%;
}
.rating-list00 .list-rating:nth-child(6) {
    width: 13%;
}
.rating-list00 .list-rating:nth-child(7) {
    width: 17%;
}
.rating-list00 .list-rating:nth-child(8) {
    width: 13%;
}
.input_tag md-chip.md-default-theme:first-child {
margin-left:44px;}
    .writer-info .service-title {
    font-size:10px;}
        .writer-info .payout-data {
    font-size:10px;}
#input-38   {width: 90px !important;
    text-indent: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    }
#input-45 {width: 90px !important;
    text-indent: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    }


.tags-table md-chips.md-default-theme .md-chips, md-chips .md-chips, .tags-table md-chips.md-default-theme .md-chips, md-chips .md-chips:focus{box-shadow:none;}

.progress-bar {
    position: absolute;
    width: 52%;
}
.progress-bar-before {
    position: absolute;
    right: 12px;
}
.progress-bar-after {
float:left;
}

.btn-dropdown .action-btn01{
    background: #A7D570 !important;
}

.tags-new .md-chip-input-container {
  width: 50px;
}
#toolbar #user-menu {
padding:0px 7px; margin-right:19px;}
    #toolbar #user-menu .user-button:hover {
    background-color:transparent!important;}
 #toolbar md-menu-bar.md-default-theme md-menu.md-open > button, #toolbar md-menu-bar md-menu.md-open > button, #toolbar md-menu-bar.md-default-theme md-menu > button:focus, #toolbar md-menu-bar md-menu > button:focus {
  background: transparent none repeat scroll 0 0!important;
}
 .landing-header .md-button {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.btn-text .md-button.md-raised:not([disabled]) {
    box-shadow:none!important;
    background:transparent !important;
}
.btn-text .md-button.md-default-theme.md-raised[disabled], .btn-text .md-button.md-raised[disabled], .btn-text .md-button.md-default-theme.md-fab[disabled], .btn-text .md-button.md-fab[disabled] {
background:transparent !important; font-weight:bold !important;  color:#000 !important; border-bottom: 1px solid ;}
.btn-small .flag_col.md-button.md-default-theme.md-ink-ripple {
  line-height: 26px;
  min-height: auto;
  min-width: auto;
  padding: 3px 8px;
}
.btn-small1 .md-raised.md-default-theme.md-ink-ripple.md-button {
  max-height: 38px;
  min-height: auto;
}
.btn-small1 .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
    margin-top:6px;
}
.profile-link > span {
    margin-left:0px!important;
}
.heading-new .heading {
    margin-left: 0px;
    padding: 0 !important;
    margin: 0px 0;
}
i.s20 {
vertical-align:middle !important;}
  .border-users md-chips.md-default-theme .md-chips, md-chips .md-chips{
        box-shadow:none!important;
    }
    .border-users .input_tag md-chip.md-default-theme {
    margin-left: -1px !important;
    margin-top: 9px;
}
    .width_tags md-chips.md-default-theme .md-chips, md-chips .md-chips{
        box-shadow:none!important;
    }
   .width_tags .input_tag md-chip.md-default-theme {
    margin-left: -1px !important;
    margin-top: 9px;
}
   .width_tags {
  margin: 5px;
}
.ng-pristine.ng-scope.ng-empty.ng-valid.ng-valid-required.md-input {
  font-size: 13px;
}
table.dataTable tbody td {
    padding: 6px 0px;
}
.text-boxed, .text-boxed-light {
margin:0px!important;}
.padding-vertical-24, .pv-24 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dataTables_wrapper .bottom {
    padding: 29px 8px;
    background: #FCFCFC;}
table.dataTable tbody td:first-child {
    padding-left: 15px !important;
}

table.dataTable thead th {
  padding: 8px 0!important;
}
table.dataTable thead th:first-child{
    padding-left: 15px!important;
}
    table.dataTable thead th .table-header .column-title {
    text-transform:uppercase; font-weight:bold !important;}
    .layout-row.w100p {
    margin-left: 0px !important;
}
#toolbar #user-menu .user-button .username {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
     margin: 0 2px 0 3px;
}
.img-logo {
  height: auto !important;
  margin-left: 116px  !important;
  padding-left: 24px !important;
  width: 36% !important;
 
}
table.dataTable.row-border tbody tr  td {
    font-size:11px!important;
     font-weight:normal !important;
     padding-top:13px;
     padding-bottom:13px;
   
}
md-content.md-hue-2, md-content.md-default-theme.md-hue-2 {
  color: #666 !important;
}
table.dataTable thead .sorting .table-header .column-title::after, table.dataTable thead .sorting_asc .table-header .column-title::after, table.dataTable thead .sorting_desc .table-header .column-title::after{
  color: #666 !important;
}
.logo.md-accent-bg {
background-color:transparent !important;}

.md-button {
min-width:auto !important;}
#toolbar {
    max-height:auto!important;
  min-height: 80px !important;
  padding-top: 0px;
  z-index: 55;
}
.right-cart._md.md-default-theme.md-keyboard-mode {
  position: absolute;
  right: 0;
}
.landing-header.layout-align-start-center.layout-row {
  margin-top: 0px;
}
.add_button1.pull-left {
  margin-left: 0px!important;
}

md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent > .md-button, md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent .md-menu > .md-button {
padding:0px 0px 0px 10px!important;}
.sorting_1 .ms-widget .md-button {
    margin-right: 10px !important;
}
.padding-left-5.md-button {
  font-size: 13px;
  color:#666666;
  text-transform:capitalize;
  font-weight:normal;

}
.active.md-button {
  color:#666666;
   font-weight:normal;
   font-weight:bold !important;
}
.active.new-btn.md-button {
  font-size: 13px !important;
  color:#666666;
   text-transform:capitalize;
   font-weight:normal;
}
.new-order1 .md-button {
     font-size: 13px !important;
     color:#666666;
      text-transform:capitalize;
      font-weight:normal;
}
.border-bottom, .bb {
  border-top: 1px solid #cccccc;
  border-bottom:none !important;
}
.checkbox {
  margin: 0px !important;
  vertical-align:middle;
}
.table-header > input {
  margin: 0;
  vertical-align:middle!important;
}
.dataTables_wrapper .bottom {
  border-top: 0 none!important;
}
.progress-1 {
width:100% !important; position:relative;}
.right-num {
float:right; }
.gray-bg {
background:#FCFCFC;}
.md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
    padding: 2px 24px !important;
    font-size: 18px;
    border-radius:0!important;
}
.md-title {
    font-size: 35px;
    font-weight: 500;
    color: #666 !important;
}

md-dialog-content .md-title {
    font-size: 22px;
    
}

td > span { line-height:auto!important; vertical-align:middle !important;}
.conditional-span span {
width:auto !important;}
.button01 i {
vertical-align:middle;}
.audio-controls {
margin-top:24px;}
table.simple thead tr th {
    padding: 9px 8px !important;
    font-weight: bold !important;
    color: #666 !important;
   font-size: 9px !important;
   text-transform:uppercase!important;
}
 .graybg {
        color: rgba(0, 0, 0, 0.54) !important;
    border-color: rgba(0, 0, 0, 0.12) !important;
    background: #dfdfdf !important;}
 .form-title02{
    font-size: 35px!important;
    font-weight: 500!important;
    color: #666 !important;
}
 .form-title.form-titlemain{
     font-size: 35px!important;
    font-weight: 500!important;
    color: #666 !important;
    margin-bottom:18px;
     }

 .new_class .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple{font-size:13px;}

  .new_class .right_secton .md-primary.md-hue-1.active.md-button, .right_secton .md-primary.md-hue-1.md-button:hover, .right_secton .md-primary.md-hue-1.md-button:focus{    border: 1px solid #69b400!important;}

  .new_class .close_button i {
    color: #e61610 !important;
    position: relative;
    bottom: 2px;
    right: 0;
    margin-left: 11px;
}
    .new_class .edit_button {margin: 1px 9px;}

   .new_class .icon.icon-lock-unlocked-outline{
        font-size: 30px !important;
    width: 40px !important;
    height: 30px !important;
    min-width: 38px !important;
    margin-top: 9px!important;
    min-height: 40px !important;
    line-height: 38px !important;
    padding: 0px 4px;
    border: 1px solid #CCC;
    display: inline-block;
}
   .new_class .icon-lock-outline{font-size: 30px !important;
   
    }
   .new_class .mc_section1-lab >label {
    font-size: 24px;
    color: #666!important;
}
   .new_class md-radio-button .md-off{top: -1px;}

   .new_class .mc_section_rept05 .md-ink-ripple {
    display: inline-flex;
    padding: 0;
    float: left;
}
  .new_class .mc_section_rept05 .md-ink-ripple .md-secondary-container {
    margin-left: 0;
}

  .new_class .edit_button {
    margin: 1px 9px 1px 19px;
}

.offline-switch05 p {
    width: 78px!important;
    flex: 0 0 0!important;
    float: left;
    margin-right: 40px!important;
} 
.doc-page_89{}

.doc-page_89 .whiteframe01 {
    padding: 45px 20px 110px!important;
    float: left!important;
    width: 100%!important;
}



.doc-page_89 a {
    text-decoration: underline;
}

.md-whiteframe-1dp089 .right_secton {
    position: relative!important;
    top: 31px!important;
}

.md-whiteframe-1dp089 .right_secton .icon.icon-timer.s20{top:-1px!important;}


 
ul.top_list_1 {
    float: left;
    margin: 0;
    padding: 0;
}
ul.top_list_1 li {
    list-style: none;
    float: left;
    margin: 0 25px 0 0;
}
ul.top_list_1 li b{margin:0 5px 0 0;}

#register .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
  
    font-size: 15px;
    
}
.timer-class{
    float: right;
    position: absolute!important;
    -webkit-text-security: 0;
    right: 0;
    top: 0!important;}

.top-testapplicant {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    flex-direction: inherit;
}
.md-whiteframe-1dp02 .right_secton {
   
    top: 0!important;
}

body .form-wrapper01 {
    
     padding: 0!important; 
}
body .fixed-head000 {
    background-color: #fafafa!important;
    padding: 15px!important;
    border-bottom: 1px solid #ccc!important;
    padding-top: 29px!important;
    padding-bottom: 29px!important;
}
.timer-class > i {
    top:0px!important;
}
.doc-page_89 .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple{   
    
     margin-top: 20px!important;
     

}
button.md-raised.md-accent.trueclass.md-button.md-default-theme.md-ink-ripple {
   
    background: #fff !important;
    color: #000 !important;
}
    button.md-raised.md-accent.trueclass.md-button.md-default-theme.md-ink-ripple.active {
         background: #69B400 !important;
    color: #fff !important;
    }

    button.md-raised.md-accent.falseclass.md-button.md-default-theme.md-ink-ripple {
   
    background: #fff !important;
    color: #000 !important;
}
    button.md-raised.md-accent.falseclass.md-button.md-default-theme.md-ink-ripple.active {
         background: #69B400 !important;
    color: #fff !important;
    }

button.md-raised.md-accent.Cancel.md-button.md-default-theme.md-ink-ripple {
     background: #fff !important;
    color: #ccc !important;
}

button.md-raised.md-accent.submit.md-button.md-default-theme.md-ink-ripple{
     background: #69B400 !important;
    color: #fff !important;
}

.form-wrapper01 .whiteframe_1_2 {
    background: #fafafa !important;
    padding: 27px 20px 36px !important;
}
 .left-addnewstyle01 > a {
    color: #000 !important;
    margin: 0px!important;
}

.aplha-btn-new {
margin:6px 0px !important;
}

md-input-container {   
    margin: 8px -1px !important;   
}



.right-num_bar{width:100%;margin-top:5px;}

.bottom_attach_col .md-default-theme.flex {    width: 120px;
    float: left;
    min-width: 280px;
    flex: inherit;
    position: relative;
    top: 13px;
}


.bottom_attach_col {
    flex-direction: inherit;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
    margin-top: 16PX;
    padding: 0px 12px 10px 15px;
}

.bottom_attach_col .pull-right{float:right;}
.md-whiteframe08 {
    padding: 0px!important;
}
.md-whiteframe08 .whiteframe08p{padding:10px 15px;}


   .progress-bar_76{ position: relative!important;
    right: 0!important;
    top: 0!important;
    width: 190px!important;
    float: right!important;}


   ul.whiteframe_col_navi01 li{width:25%!important;}
   ul.whiteframe_col_navi01 li:last-child{float:right;text-align:right;}
   ul.whiteframe_col_navi01 li:nth-child(3) {text-align:center;}

   .whiteframe_1_1_2{float:left; width:100%;}


   .whiteframe_1_1 {
  background-color: #fff;
  padding: 13px 15px 6px;
}       


.whiteframe_1_1_2 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 27px 15px!important;
} 

   .whiteframe_1_1_2 * {
  display: inherit;
  /*flex: inherit;*/ 
  margin: 0;
  padding: 0;
}

  .whiteframe_1_1_2 .md-errors-spacer{display:none;}

  .whiteframe_1_1_2 .right_secton > p {
  float: left;
  margin: 12px 12px 0 0;
}

  .right_secton > button.md-button {
  margin: 0 0 0 5px;
} 

  .whiteframe_1_1_2 .result_col{}

.whiteframe_1_1_5 *{display:inherit!important;flex-direction: inherit!important;flex:inherit!important;margin:0!important;padding:3px 0px!important}

.whiteframe_1_1_5 md-list-item:before, .whiteframe_1_1_5 md-list-item .md-list-item-inner:before {
  content: "";
  display: inline-block;
  min-height: 100%;
  visibility: hidden;   
}


.true_col1 {
  padding-right: 120px;
  position: relative;
}

.true_col1 .mc_right_icon {
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
} 

.true_col1 .md-no-proxy._md > p {
  padding-left: 20px!important;
} 

.whiteframe_1_1_10 {
  padding-bottom: 16px!important;
  padding-top: 12px!important;
}

.whiteframe_1_1_10 .answer_WI > b {
  position: relative;
  top: 4px;
} 

.whiteframe_1_12 *{margin:0px;padding:0px;} 


.true_col1la label {
  color: #000!important;
  font-size: 19px!important;
}

.offline-switch000{ position: relative!important; left: -3px!important;
    top: 16px!important;} 


    .whiteframe_1_12 .true_col1{margin:0px!important;}

    body .whiteframe_1_1_5, body .whiteframe_1_1_10, body .whiteframe_1_12{padding:25px 15px!important;}


.mc_section_01 {
  border-bottom: 1px solid #ccc;
  float: left;
  min-height: 90px;
  padding: 15px;
  width: 100%;
}

    .mc_section_01 .layout-column{flex:inherit!important;display:inline-block;width:100%!important;} 
    .mc_section_01 .layout-column .mc_right{float:right;}

    .mc_section_01 .layout-column  .choice_col1{flex:inherit!important;display:inherit!important;margin:0px!important;}


    .mc_section_01 .layout-column  .choice_col1 .md-no-style{min-height:inherit;display:inherit;flex:inherit;padding:0px;} 
    .mc_section_01 .layout-column  .choice_col1 .offline-switch{padding:0px;}

    .mc_section_01 .layout-column  .choice_col1 .md-no-style .md-secondary-container{margin-left:10px;}

    .mc_section_01 .layout-column  .choice_col1 .offline-switch .md-proxy-focus{min-height:inherit!important}

   .mc_section_01 md-list-item, .mc_section_01 md-list-item .md-list-item-inner{height:27PX;}


   .mc_section2 .mc_right {
  position: absolute;
  right: 0;
  top: 0;
}

   .mc_section_02 .mc_section1.mc_section1-lab > label{position:static!important;font-size: 1.6rem;}
   .mc_section_02 .md-input-has-value {
  vertical-align: top;
  width: 100%; margin: 0!important;
}
   .mc_section_02 .layout-column .mc_right{top:0px}

   .mc_section_03 .offline-switch05 p{ margin-right: 0!important;}


   .mc_section_01 label.answer_WI {
  padding-left: 16px;
} 

   #toolbar #user-menu .user-button .username{overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap;}



   .chipsDiv09 .md-chips.md-removable md-chip .md-chip-content {
  padding-right: 9px;
  text-align: right;
  width: 100%;
}

   .chipsDiv09 .md-chips md-chip .md-chip-remove-container {
  left: 0;
  line-height: 22px;
  position: absolute;
  right: 0;
  width: 100%;
}

   .chipsDiv09 .md-chips md-chip .md-chip-remove-container .md-primary{width:100%;}

  .chipsDiv09 .md-chips md-chip .md-chip-remove-container .md-primary .icon-check{border: medium none;
    left: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7px;}

 .chipsDiv09 .input_tag md-chip.md-default-theme{min-width: 80px;}

  .chipsDiv09 .md-chips md-chip .md-chip-remove-container .md-primary .icon-close {
  float: right;
  position: absolute; 
  right: 0;
  top: 3px;
}

   /*.icon.icon-close.s20 {
  position: absolute;
  right: 0;
  top: 3px;
}*/

   .input_tag md-chip.md-default-theme{min-width:70px;} 


   body .input_tag md-chip.md-default-theme .highlighted {color:red!important;} 