<style>
        .active {
        border-bottom:1px solid #808080;
         font-weight: bold;
        }
        .w100p {
        width: 100%;
    }
        .pull-left{float:left;}
        .pull-right{float:right;}
    .left_col {
        width: 22%;
    }
    .dataTables_wrapper .top {
        padding: 0;
    }
    .left_col md-input-container {
        display: block;
        flex: 0 1 0;
        float: left;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .left_col md-input-container .md-select-value{min-height: 36px;}

    .layout-row.w100p {
        display: block;
        margin-left: 9px;
        width: 100%;
    }

    .left_col  .md-button{border-radius: 0;}
    .left_col .active.md-button{}
    /*.left_col {
        text-align: right;
        width: 40%;
    }*/
       table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
        display:none;}
            td > span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 68px;
      line-height: 19px;
    }
            td {
      width: 58px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }.input-new {
        border: 1px solid #ddd !important;
        padding: 9px!important;
    }
        .user_col{width: 38%;}
    .user_col .left_col {
        margin-left: 24px;
        width: 46%;
    }

          #tableservice td, #tableservice th {
        text-align: center;
    }
          .min_top_section > button:first-child {
        margin-right: 20px;
    }
         #tableservice_length select {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 9px;
        padding: 6px;
    }   .ml-16.text-boxed.pink-bg.white-fg.ng-binding {
        margin-left: 10px;
    }
          .center_table tr th:nth-child(1), .center_table tr th:nth-child(2), .center_table  tr th:nth-child(3),.center_table tr th:nth-child(4),.center_table tr th:nth-child(5){text-align:center;}
             .center_table tr th, .center_table tr td{text-align:center!important;}
              table.dataTable {
      border-spacing: 0;
      clear: both;
      margin: 0 auto;
      width: 100%;
    }
            table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed > tbody > tr > th:first-child {
      padding-left: 23px;
    }
            .icon.icon-account-circle.s30 {
      vertical-align: middle;
    }

        table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
        display:none;}
            td > span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 68px;
    }
            td {
      width: 58px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
               .input-new {
        border: 1px solid #ddd !important;
        padding: 9px!important;
    }.statis{

      margin-top: 0!important;
    }
     .ms-widget .md-button {
    margin: 0;
    text-transform: capitalize;
}

</style>
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <!-- CONTENT -->
    <div class="content">

        <div class="content layout-column">


            <div class="md-title pb-0 padding-left-10">
                Tests
            </div>




            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">



                        <div class="ph-16 pv-30 border-bottom gray-bg">
                            <div layout="column" layout-gt-xs="row">
                                <div class="layout-row w100p min_top_section">
                                    <md-button class="md-raised md-accent statis" aria-label="Cancel"
                                               ng-click="createtest()">
                                        NEW TEST
                                    </md-button>

                                    <div class="right_col pull-right">
                                        <md-button class="{{activeclasslis}}" ng-click="listed()">Published  </md-button>
                                        <md-button class="padding-left-5 {{activeclassdra}}" ng-click="Draft()">Draft  </md-button>
                                        <md-button class="padding-left-5 {{activeclasstra}}" ng-click="Trash()">Trash  </md-button>
                                        <md-button class="padding-left-5 {{activeclassarch}}" ng-click="Archived()">Archived</md-button>
                                        <!--<md-input-container flex="30">
                                            <input type="text" name="Search" ng-model="vm.Search"
                                                   placeholder="Search..">
                                        </md-input-container>-->
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="ph-16 pv-30 border-bottom gray-bg" layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center" class="user_col">
                                <!--<span class="h3">{{vm.widget7.title}}</span>-->
                                <span class="ml-16 text-boxed pink-bg white-fg">{{vm.filteredTodos.length}} Tests</span>
                                <div class="left_col">
                                    <md-input-container flex="50">
                                        <label>Actions</label>
                                        <md-select ng-model="">
                                            <md-option value="Draft" onclick="addids();" ng-show="hdndraft" ng-click="draftest()">Send to Draft</md-option>
                                            <md-option value="Trash" onclick="addids();" ng-show="hdntrash" ng-click="trashtest()">Send to Trash</md-option>
                                            <md-option value="Restore" onclick="addids();" ng-show="hdnarchived" ng-click="archivedtest()">Send to Archived</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="refresh_col">
                                <md-menu>
                                    <md-button aria-label="more" class="md-icon-button"
                                               ng-click="$mdOpenMenu($event)">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>

                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                <i class="icon icon-refresh"></i>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <input type="text" ng-model="search" placeholder="Search" class="input-new" />
                            </div>

                        </div>

                        <table class="dataTable row-border hover center_table" datatable="ng"
                               dt-options="vm.widget7.dtOptions" id="tableservice">
                            <thead>
                                <tr>
                                    <th class="secondary-text" style="text-align:left !important;">
                                        <div class="table-header">
                                            <input type='checkbox' value="" id="select_all" onclick="checkall();">
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title ng-binding">Name</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Questions</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Time(Min)</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Attempts</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Randomize</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Locked</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Applicants</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Min Pass %</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Pass Rate %</span>
                                        </div>
                                    </th>

                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <!--<span class="column-title"></span>-->
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="row in vm.filteredTodos | filter:search">
                                    <td class="sorting_1" style="text-align:left !important;">

                                        <input type='checkbox' class="checkbox" value="{{row._id}}">
                                        <input type="hidden" id="selectedids" />

                                    </td>
                                    <td class="sorting_1">
                                        <span class="bold" style="font-weight:bold;">
                                            {{row.testname}}
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="red-fg">
                                            {{row.Questions}}
                                        </span>
                                    </td>

                                    <td class="sorting_1">
                                        <span>
                                            {{row.Time}}
                                        </span>

                                    </td>
                                    <td class="sorting_1">
                                        <span>
                                            {{row.Attempts}}
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="">
                                            {{row.Randomize}}
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="amber-700-fg">
                                            {{row.Locked}}
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="{{row.Applicants}}">
                                            {{row.Applicants}}
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="bold">
                                            {{row.passpercentage}}%
                                        </span>
                                    </td>
                                    <td class="sorting_1">
                                        <span class="">
                                            <md-progress-linear class="md-warn" md-mode="buffer" value="{{row.Passrate}}"
                                                                md-buffer-value="{{row.Passrate}}"></md-progress-linear>{{row.Passrate}}%

                                        </span>
                                    </td>

                                    <td class="sorting_1">
                                        <span class="">
                                            <i class="icon icon-border-color s20" style="cursor:pointer;" ng-click="editjob(row._id)"></i>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </ms-widget-front>
                    <!-- / Front -->
                </ms-widget>
                <!-- / WIDGET 7 -->

            </div>

        </div>
    </div>
</div>
<script>


    function checkall() {
        
        var select_all = document.getElementById("select_all"); //select all checkbox
        var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

        //select all checkboxes
        select_all.addEventListener("change", function (e) {
            for (i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = select_all.checked;
            }
        });


        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (this.checked == false) {
                    select_all.checked = false;

                }
                //check "select all" if all checkbox items are checked
                if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                    select_all.checked = true;

                }
            });
        }

    }
    function addids() {
        
        var selectedValues = "";
        $('#tableservice').find('input[type="checkbox"]:checked').each(function () {
            selectedValues += "," + $(this).val();
        });

        //selectedValues = selectedValues.substring(1);
        $('#selectedids').val(selectedValues);
        //alert($('#selectedids').val())

    }
</script>
<!-- / CONTENT -->
