<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center" ng-show="vm.login()" ng-mouseover="vm.showfullimage('T')" ng-mouseleave="vm.showfullimage('F')">   
    <!--<img src="{{vm.imageUrl}}" style="width:100px;" ng-if="vm.folded"  />-->

    <img src="{{vm.imageUrl}}" style="width:150px;" ng-if="vm.folded" />
    <div class="logo" layout="row" layout-align="start center">       
        <span class="logo-text">
            <img src="../../../../assets/images/left_logo.png" ng-if="!vm.folded"/>
            
        </span>        
    </div>    
    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()">       
    </md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions" ng-show="vm.login()" ng-mouseover="vm.showfullimage('T')" ng-mouseleave="vm.showfullimage('F')"></ms-navigation>