
<md-dialog aria-label="Mango (Fruit)" class="assign-modal">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{formsdata.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="wdth100">
                <div class="ph-16  border-bottom" layout="row" layout-align="space-between center">
                    <div class="Manualpaggingbyorder wdth100">
                        <p class="heading"><input type="text" ng-model="formsdata.title" /></p>
                        <div class="btn-nxt">
                            
                        </div>
                    </div>
                </div>
                <div class="ph-16  border-bottom" layout="row" layout-align="space-between center">
                    <div class="Manualpaggingbyorder">
                       
                        <div class="texts">
                            <p class="bussiness">
                                <span>Business Name:</span><br />
                                <input type="text" ng-model="formsdata.businessname"/>
                            </p>

                            <p class="bussiness">
                                <span>What website are we writing for?</span><br />
                                <input type="text" ng-model="formsdata.website" />
                              
                            </p>

                            <p class="bussiness">
                                <span>What are the keywords you would like to optimize your content?</span><br />
                                <span ng-repeat="key in formsdata.keywords">
                                <input type="text" ng-model="formsdata.name" /></span>
                            </p>


                            <p class="bussiness">
                                <span>Please add your topics</span><br />
                                <i class="icon icon-file-word s20" style="border-color:#3896D9;color:#2C8FD6;"></i> 
                                <input type="text" ng-model="formsdata.filename" />
                            </p>


                        </div>


                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Cancel
            </md-button>
          
        </md-dialog-actions>
    </form>
</md-dialog>
