<style>
    i.s20 {
        vertical-align:auto !important;
    }
    .active {
        border-bottom: 1px solid #808080;
        font-weight: bold;
    }

    .dataTables_wrapper .top {
        padding: 0;
    }

    .w100p {
        width: 100%;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

    .left_col {
        width: 22%;
    }

        .left_col md-input-container {
            display: block;
            flex: 0 1 0;
            float: left;
            margin: 0;
            max-width: 100%;
            width: 100%;
        }

            .left_col md-input-container .md-select-value {
                min-height: 36px;
            }

    .layout-row.w100p {
        display: block;
        width: 100%;
    }

    .left_col .md-button {
        border-radius: 0;
    }

    .left_col .active.md-button {
    }
    /*.left_col {
                text-align: right;
                width: 40%;
            }*/

    .dataTable01 td {
        word-break: break-all;
        white-space: normal;
        word-wrap: break-word;
        font-size: 11px;
    }

    .result {
        background-color: #A3B400;
        color: #FFF;
        padding: 0px 7px;
        text-align: center;
        margin: 0 5px 0 0;
        float: left;
    }

    .resultf {
        background-color: #E61610;
        color: #FFF;
        padding: 0px 7px;
        text-align: center;
        margin: 0 5px 0 0;
        float: left;
    }

    .md-button.md-default-theme.md-ink-ripple {
        padding-top: 8px;
        text-align: center;
    }

    .center_table tr th:nth-child(1), .center_table tr th:nth-child(2), .center_table tr th:nth-child(3), .center_table tr th:nth-child(4), .center_table tr th:nth-child(5) {
        text-align: center;
    }

    .center_table tr th, .center_table tr td {
        text-align: center !important;
    }

    table.dataTable {
        border-spacing: 0;
        clear: both;
        margin: 0 auto;
        width: 100%;
    }

        table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed > tbody > tr > th:first-child {
            padding-left: 23px;
        }

    .icon.icon-account-circle.s30 {
        vertical-align: middle;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
        display: none;
    }

    td > span {
        display: inline-block;
        line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 68px;
    }

    td {
        width: 58px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .input-new {
        border: 1px solid #ddd !important;
        padding: 9px !important;
    }

    .user_col {
        width: 38%;
    }

        .user_col .left_col {
            margin-left: 24px;
            width: 46%;
        }

    #tableservice td, #tableservice th {
        text-align: center;
    }

    .min_top_section > button:first-child {
        margin-right: 20px;
    }

    #tableservice_length select {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 9px;
        padding: 6px;
    }
    .inprogress md-progress-linear {
        width: 100% !important;
    }
    .Manualpaggingbyorder .heading {
    font-size: 30px!important;
    font-weight: bold !important;
}
    .wdth100 .btn-nxt {
    top: 0px;
}
    .new-btn-bottom.btn-nxt {
    top: -23px;
    right: -5px;
}
    .right-section {
    top: 42px!important;
}
    .order-item-listing .bottom {
    min-height: 0px !important;
    padding: 7px 8px 22px !important;
    position: relative;
}
    .progress-bar {
    width: 53%;
    margin-top: 4px;
    margin-left: 4px;
}
</style>
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <!-- CONTENT -->
    <div class="content">
        <div class="content layout-column">
            <div class="md-title pb-0 padding-left-10">
                Item
            </div>
            <div class="widget-group order-item-listing" layout="row" flex="100" layout-wrap>
                <ms-widget flippable="false" layout="row" flex="100" flex-gt-md="100">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="ph-16 pv-30 border-bottom ">
                            <div layout="column" layout-gt-xs="row">
                                <div class="layout-row w100p min_top_section">
                                    <div class="profile-link">
                                        <span class="client-name-list new-breadcrum">
                                            <ul><li ng-click="vm.goback()" style="cursor: pointer; padding-left:0px !important;">{{vm.items.orderId}}</li><li>{{vm.items.name}} </li></ul>
                                        </span>
                                    </div>
                                    <div class="right-section inprogress">
                                        <span style="float:left; margin-right:10px">Total Assigned in Item</span>
                                        <span class="progress-bar">
                                            <md-progress-linear md-mode="determinate" value="{{vm.getpercentage(vm.items.totaltasks,vm.items.totalassigntasks)}}">
                                            </md-progress-linear>
                                        </span>
                                        <span class="progress-bar-before" style="float:left; margin-left:10px">
                                            {{vm.items.totalassigntasks}}/{{vm.items.totaltasks}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div layout="row" layout-align="start center" class="user_col filter-list filter-list-1 wdth100">
                                <div class="list-btn new-list new-1-list">
                                    <ul>

                                        <li>
                                            <span>
                                                <i class="icon icon-account-circle s20"></i>
                                                <span class="head-task">Client: </span>
                                                <span class="head-task-info">{{vm.items.clientname}}</span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="head-task">Service: </span>
                                            <span class="head-task-info">{{vm.items.service}}</span>
                                        </li>
                                        <li>
                                            <span class="head-task">Industry: </span>
                                            <span class="head-task-info">{{vm.items.industry}}</span>
                                        </li>
                                        <li>
                                            <span class="head-task">Type: </span>
                                            <span class="head-task-info">{{vm.items.type}}</span>
                                        </li>
                                        <li>
                                            <span class="head-task">Addons: </span>
                                            <span class="head-task-info">{{vm.items.addons}}</span>
                                        </li>
                                        <li style="margin-left:59px;">
                                            <span class="head-task">Date: </span>
                                            <span class="head-task-info">{{vm.items.date | date:'m/d/yy/ hh:mm'}}</span>
                                        </li>
                                        <Li>
                                            <span class="head-task">Amount: </span>
                                            <span class="head-task-info">${{vm.items.amount}}</span>
                                        </Li>
                                    </ul>
                                </div>
                            </div>

                        </div>


                        <div class="wdth100">
                            <div class="ph-16 pv-30 border-bottom" layout="row" layout-align="space-between center" >
                                <div class="Manualpaggingbyorder wdth100 heading-new">
                                    <p class="heading" style="font-weight:normal !important;"><input type="text" value="{{vm.forms.title}}" /> <i class="icon icon-launch s20"></i></p>
                                    <div class="btn-nxt">
                                        <input type="text" id="amountpertask" value="{{vm.items.amountpertask}}" style="display:none;" />
                                        <input type="text" id="totaltasks" value="{{vm.items.totaltasks}}" style="display:none;" />
                                        <input type="text" id="usedtasks" value="{{vm.totalused}}" style="display:none;" />
                                        <span>{{vm.crntform}} of {{vm.totalcount}} Forms</span>
                                        <md-button ng-disabled="vm.crntform==1" title="Previous" class="button button01 " ng-click="vm.prevrecord(vm.crntform-1)"><i class="icon icon-chevron-left s25"></i></md-button>
                                        <md-button ng-disabled="vm.crntform==vm.totalcount" title="Next" class="button button01" ng-click="vm.nextrecord(vm.crntform-1)"><i class="icon icon-chevron-right s25"></i></md-button>
                                    </div>
                                </div>
                            </div>
                            <div class="ph-16  border-bottom" layout="row" layout-align="space-between center" style="border-bottom:1px solid #ccc !important;">
                                <div class="Manualpaggingbyorder wdth100">
                                    <div class="audio-controls">
                                        <audio controls>
                                            
                                            
                                            <source src="../../../assets/MP3/SampleAudio_0.4mb.mp3" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                        <!--<i class="icon icon-download s20"></i>-->
                                    </div>
                                    <div class="texts">
                                        <p class="bussiness">
                                            <span>Business Name:</span><br /><input type="text" value="{{vm.forms.businessname}}" class="wdth100" />
                                        </p>

                                        <p class="bussiness">
                                            <span>What website are we writing for?</span><br />
                                            <input type="text" value="{{vm.forms.website}}"  class="wdth100"/>
                                        </p>

                                        <p class="bussiness">
                                            <span>What are the keywords you would like to optimize your content?</span><br />
                                            <span ng-repeat="key in vm.forms.keywords">{{key.name}}</span>
                                        </p>


                                        <p class="bussiness">
                                            <span>Please add your topics</span><br />
                                            <i class="icon icon-close s20" style="border-color:red;color:red;" ng-click="vm.deletefile(vm.formsindex)"></i>
                                            <i class="icon icon-file-word s20" style="border-color:#3896D9;color:#2C8FD6;"></i> {{vm.forms.filename}}
                                        </p>


                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--For Writers-->
                        <div class="table-area ms-responsive-table-wrapper">
                            <div class="table-heaser">
                                <div class="Manualpaggingbyorder wdth100 writertable tags-table">
                                    <p class="heading ng-binding">Suggested Writers </p>
                                    <div class="search-nxt">
                                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                                            <label>

                                                tags:
                                                <md-chips ng-model="tagsname" md-autocomplete-snap
                                                          md-transform-chip="resettags($chip.id,$chip.name)" class="chipsDiv input_tag tags-new" md-removable="true">

                                                    <md-autocomplete md-selected-item="selectedItem"
                                                                     md-search-text="searchText"
                                                                     md-items="user in querySearch(searchText)"
                                                                     md-item-text="user.name"
                                                                     placeholder="">
                                                        <span md-highlight-text="searchText">{{user.name}}</span>
                                                        <md-not-found>
                                                            No writer found with '{{searchText}}'
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                    <md-chip-template>
                                                        <span>
                                                            <strong>{{$chip.name}} </strong>
                                                        </span>
                                                    </md-chip-template>
                                                    <button md-chip-remove class="md-primary vegetablechip">
                                                        <md-icon md-svg-icon="md-close"></md-icon>
                                                        <i class="icon icon-close s20" style="cursor:pointer;color:black;" ng-click="vm.removetagandupdatelist($chip.id)"></i>
                                                    </button>
                                                </md-chips>

                                                <div>
                                                    <input class="input-search-n" placeholder="Writer Search ..." ng-model="vm.search" aria-controls="DataTables_Table_2" type="search">
                                                    <i class="icon icon-magnify s30 search-icn"></i>
                                                </div>
                                            </label>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <table class="table-condensed dumy-t simple row-border">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:left !important;">Writer Name</th>
                                        <th>WORDS/CAPACITY</th>
                                        <th style="max-width:60px;">QTY TASKS</th>
                                        <th>SET DUE DATE</th>
                                        <th>PAY</th>
                                        <th>ACTIONS</th>

                                    </tr>
                                </thead>
                                <tbody id="innerhtml" ng-repeat="writer in vm.witersalreadyassign |unique:'id' | filter: {name:vm.search}">

                                    <tr>
                                        <td style="font-size:14px;"><i class="icon icon-play-circle-outline s20" style="cursor: pointer;" onclick="showhidenext(this);"></i></td>
                                        <td style="text-align:left !important; font-size:14px; text-transform:capitalize;"><i class="icon icon-account-circle s20"></i> {{writer.name}}</td>
                                        <td style="font-size:12px;" ><input type="text" ng-model="writer.capacity" readonly="readonly" />w /{{vm.items.capacityforwriter}}w</td>
                                        <td style="font-size:17px;"  ng-if="writer.isassigned" ng-click="showAdvanced($event,vm.items._id,vm.items.orderId,vm.items.writers,$index,vm.items.tasks,'WR',vm.items.totaltasks)">

                                            <i class="icon icon-chevron-down s20" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;"  ></i>
                                            <input type="text" ng-model="writer.Qty" readonly="readonly" />
                                            <i class="icon icon-chevron-up s20" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;"></i>
                                        </td>
                                        <td ng-if="!writer.isassigned" style="font-size:12px;">

                                            <i class="icon icon-chevron-down s20" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;" ng-click="vm.subtractqty(writer.Qty,$index)"></i>
                                            <input type="text" ng-model="writer.Qty" />
                                            <i class="icon icon-chevron-up s20" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;" ng-click="vm.addtractqty(writer.Qty,$index);"></i>
                                        </td>
                                        <td ng-if="writer.isassigned" style="font-size:12px;">
                                            <md-datepicker md-multiselect="true" ng-model="writer.date" md-placeholder="" ng-disabled="true">

                                            </md-datepicker>
                                        </td>
                                        <td ng-if="!writer.isassigned" style="font-size:12px;">
                                            <md-datepicker ng-model="writer.date" md-placeholder="" md-min-date="vm.today">

                                            </md-datepicker>
                                        </td>
                                        <td>
                                            $<input class="quantity" type="text" ng-model="writer.amount" value="0" />
                                        </td>
                                        <td ng-if="writer.isassigned">
                                            <label class="btn-dropdown">
                                                <i class="icon icon-chevron-down s20 client-show-id" ng-click="showAdvanced($event,vm.items._id,vm.items.orderId,vm.items.writers,$index,vm.items.tasks,'WR',vm.items.totaltasks)" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;"></i>
                                                <button class="action-btn action-btn01">Assigned</button>
                                            </label>
                                        </td>
                                        <td ng-if="!writer.isassigned">
                                            <label class="btn-dropdown">
                                                <i class="icon icon-chevron-down s20 client-show-id" style="cursor: pointer; margin-top: -6px!important;
    display: inline-block !important;"></i>
                                                <button class="action-btn" ng-click="vm.assigntowriter(vm.items._id,writer.id,vm.items.orderId,writer.Qty,writer.date,writer.amount,'wr')">assign</button>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr style="display:none;">

                                        <td colspan="7" style="padding:8px 0px !important;">
                                            <div class='rating-list00 writer-info'>
                                                <li class='list-rating'><span class='service-title'>Active:</span> <span class='payout-data'>{{writer.active | date: dd-MM-YY}}  to Current</span></li>
                                                <li class='list-rating'><span class='service-title'>Flags:</span> <span class='payout-data'>{{writer.flags}} </span></li>
                                                <li class='list-rating'><span class='service-title'>Revisions:</span> <span class='payout-data'>{{writer.revisions}}</span></li>
                                                <li class='list-rating'><span class='service-title'>Reassigned:</span> <span class='payout-data'>{{writer.reassigned}}</span></li>
                                                <li class='list-rating'><span class='service-title'>Client Approved:</span> <span class='payout-data'> {{writer.clientapproved}}</span></li>

                                                <li class='list-rating'><span class='service-title'>Auto Approved:</span> <span class='payout-data'>{{writer.autoapproved}}</span></li>
                                                <li class='list-rating'>
                                                    <span class='service-title'>Team Rated:</span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(writer.teamrated) track by $index"><i class='icon icon-star s10'></i></span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(5-writer.teamrated) track by $index"><i class='icon icon-star s10' style="color:#ccc;"></i></span>

                                                </li>
                                                <li class='list-rating'>
                                                    <span class='service-title'>Client Rated:</span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(writer.clientrated) track by $index"><i class='icon icon-star s10'></i></span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(5-writer.clientrated) track by $index"><i class='icon icon-star s10' style="color:#ccc;"></i></span>

                                                </li>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="bottom">
                                <div class="left">
                                    <!--<div class="length1">
                                        <div class="dataTables_length" id="DataTables_Table_1_length">
                                            <label class="action-bottom">
                                                <i class="icon icon-chevron-down s20 client-show-id" role="button"></i>
                                                <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                                                    <option value="">Actions</option>
                                                    <option value="Selectq">1</option>
                                                    <option value="Selectq">2</option>
                                                    <option value="SelectqSelectq">3</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="right right=progress-bar progress-bar_76" style="position: absolute; right: 47px; top: 20px; width: 280px;">
                                    <span class="progress-bar-after">
                                        Assigned
                                    </span>
                                    <span class="progress-bar">
                                        <md-progress-linear md-mode="determinate" value="{{vm.getpercentage(vm.items.totaltasks,vm.items.totalassigntasks)}}%">
                                        </md-progress-linear>
                                        
                                    </span>
                                    <span class="progress-bar-before">
                                        {{vm.writercount}}/{{vm.items.totalassigntasks}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--For Desingers-->
                        <div class="table-area ms-responsive-table-wrapper">
                            <div class="table-heaser">
                                <div class="Manualpaggingbyorder wdth100 writertable  tags-table">
                                    <p class="heading ng-binding">Suggested Designers</p>
                                    <div class="search-nxt">
                                        <div id="DataTables_Table_2_filter" class="dataTables_filter">
                                            <label>

                                                tags:
                                                <!--<md-chips ng-model="tagsname" md-autocomplete-snap
                                                          md-transform-chip="resettags($chip.id,$chip.name)" class="chipsDiv input_tag" md-removable="true">
                                                    <md-autocomplete md-selected-item="selectedItem"
                                                                     md-search-text="searchText"
                                                                     md-items="user in querySearch(searchText)"
                                                                     md-item-text="user.name"
                                                                     placeholder="Search for a user">
                                                        <span md-highlight-text="searchText">{{user.name}}</span>
                                                        <md-not-found>
                                                            No writer found with '{{searchText}}'
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                    <md-chip-template>
                                                        <span>
                                                            <strong>{{$chip.name}}</strong>
                                                        </span>
                                                    </md-chip-template>
                                                    <button md-chip-remove class="md-primary vegetablechip">
                                                        <md-icon md-svg-icon="md-close"></md-icon>
                                                        <i class="icon icon-close s20" style="cursor:pointer;color:black;" ng-click="deleteuser($chip.id,st._id)"></i>
                                                    </button>
                                                </md-chips>-->
                                                <div>
                                                    <input class="input-search-n" placeholder="Designer Search ..." ng-model="vm.designsearch" aria-controls="DataTables_Table_2" type="search">
                                                    <i class="icon icon-magnify s30 search-icn"></i>
                                                </div>
                                            </label>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <table class="table-condensed dumy-t simple row-border">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:left !important;">DESIGNER Name</th>
                                        <th>IMAGE CAPACITY</th>
                                        <th>QTY TASKS</th>
                                        <th>SET DUE DATE</th>
                                        <th>PAY</th>
                                        <th>ACTIONS</th>

                                    </tr>
                                </thead>
                                <tbody id="innerhtml" ng-repeat="writer in vm.desingersalreadyassign | unique:'id' | filter: vm.designsearch">

                                    <tr>
                                        <td style="font-size:14px;"><i class="icon icon-play-circle-outline s20" style="cursor: pointer;" onclick="showhidenext(this);"></i></td>
                                        <td style="text-align:left !important; font-size:14px; text-transform:capitalize;"><i class="icon icon-account-circle s20" style="vertical-align:middle;"></i> {{writer.name}}</td>
                                        <td style="font-size:12px;">{{writer.capacity}}img {{vm.items.capacityfordesigner}}img</td>
                                        <td style="font-size:17px;" ng-if="writer.isassigned" ng-click="showAdvanced($event,vm.items._id,vm.items.orderId,vm.items.designers,$index,vm.items.tasks,'DE',vm.items.totaltasks)">
                                            <i class="icon icon-chevron-down s20" style="cursor: pointer;  margin-top: -6px!important;
    display: inline-block !important;"></i>
                                            <input type="text" ng-model="writer.Qty" readonly="readonly" />
                                            <i class="icon icon-chevron-up s20" style="cursor: pointer;"></i>
                                        </td>
                                        <td  style="font-size:12px;" ng-if="!writer.isassigned">
                                            <i class="icon icon-chevron-down s20" style="cursor: pointer;   margin-top: -6px!important;
    display: inline-block !important;" ng-click="vm.subtractqtydes(writer.Qty,$index)"></i>
                                            <input type="text" ng-model="writer.Qty" />
                                            <i class="icon icon-chevron-up s20" style="cursor: pointer;   margin-top: -6px!important;
    display: inline-block !important;" ng-click="vm.addtractqtydes(writer.Qty,$index);"></i>
                                        </td>
                                        <td style="font-size:12px;" ng-if="writer.isassigned">
                                            <md-datepicker ng-model="writer.date" md-placeholder="" ng-disabled="true">

                                            </md-datepicker>
                                        </td>
                                        <td ng-if="!writer.isassigned">
                                            <md-datepicker ng-model="writer.date" md-placeholder="" md-min-date="vm.today">

                                            </md-datepicker>
                                        </td>
                                        <td ng-if="writer.isassigned">
                                            $<input class="quantity" type="text" ng-model="writer.amount" value="0" readonly="readonly" />
                                        </td>
                                        <td ng-if="!writer.isassigned">
                                            $<input class="quantity" type="text" ng-model="writer.amount" value="0" />
                                        </td>
                                        <td ng-if="writer.isassigned">
                                            <label class="btn-dropdown">
                                                <i class="icon icon-chevron-down s20 client-show-id" ng-click="showAdvanced($event,vm.items._id,vm.items.orderId,vm.items.designers,$index,vm.items.tasks,'DE',vm.items.totaltasks)" style="margin-top: -6px!important;
    display: inline-block !important;"></i>
                                                <button class="action-btn action-btn01">Assigned</button>
                                            </label>
                                        </td>
                                        <td ng-if="!writer.isassigned">
                                            <label class="btn-dropdown">
                                                <i class="icon icon-chevron-down s20 client-show-id" style="margin-top: -6px!important;
    display: inline-block !important;"></i>
                                                <button class="action-btn" ng-click="vm.assigntowriter(vm.items._id,writer.id,vm.items.orderId,writer.Qty,writer.date,writer.amount,'de')">assign</button>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr style="display:none;">

                                        <td colspan="7">
                                            <div class='rating-list00 writer-info'>
                                                <li class='list-rating'><span class='service-title'>Active:</span> <span class='payout-data'>{{writer.active | date: dd-MM-YY}}  to Current</span></li>
                                                <li class='list-rating'><span class='service-title'>Flags:</span> <span class='payout-data'>{{writer.flags}} </span></li>
                                                <li class='list-rating'><span class='service-title'>Revisions:</span> <span class='payout-data'>{{writer.revisions}}</span></li>
                                                <li class='list-rating'><span class='service-title'>Reassigned:</span> <span class='payout-data'>{{writer.reassigned}}</span></li>
                                                <li class='list-rating'><span class='service-title'>Client Approved:</span> <span class='payout-data'> {{writer.clientapproved}}</span></li>

                                                <li class='list-rating'><span class='service-title'>Auto Approved:</span> <span class='payout-data'>{{writer.autoapproved}}</span></li>
                                                <li class='list-rating'>
                                                    <span class='service-title'>Team Rated:</span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(writer.teamrated) track by $index"><i class='icon icon-star s10'></i></span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(5-writer.teamrated) track by $index"><i class='icon icon-star s10' style="color:#ccc;"></i></span>

                                                </li>
                                                <li class='list-rating'>
                                                    <span class='service-title'>Client Rated:</span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(writer.clientrated) track by $index"><i class='icon icon-star s10'></i></span>
                                                    <span class='payout-data' ng-repeat="star in getNumber(5-writer.clientrated) track by $index"><i class='icon icon-star s10' style="color:#ccc;"></i></span>

                                                </li>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="bottom">
                                <div class="left">
                                    <!--<div class="length1">
                                        <div class="dataTables_length" id="DataTables_Table_1_length">
                                            <label class="action-bottom">
                                                <i class="icon icon-chevron-down s20 client-show-id" role="button"></i>
                                                <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="">
                                                    <option value="">Actions</option>
                                                    <option value="3">1</option>
                                                    <option value="2">1</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="right progress-bar_76" style="position: absolute;right: 47px;top: 20px;width: 417px;">
                                    <span class="progress-bar-after">
                                        Assigned
                                    </span>
                                    <span class="progress-bar">
                                        <md-progress-linear md-mode="determinate" value="{{vm.getpercentage(vm.items.totaltasks,vm.items.totalassigntasks)}}%">
                                        </md-progress-linear>
                                        
                                    </span>
                                    <span class="progress-bar-before">
                                        {{vm.writercount}}/{{vm.items.totalassigntasks}}
                                    </span>
                                </div>
                            </div>
                        </div>




                        <div class="ph-16 pv-15 border-bottom layout-align-space-between-center layout-row new-nxt-prev gray-bg" layout="row" layout-align="space-between center">
                            <div class="Manualpaggingbyorder wdth100">
                                <div class="btn-nxt new-btn-bottom">
                                    <span class="ng-binding">{{vm.currentitem+1}} of {{vm.idsall.length}} Items</span>

                                    <button ng-disabled="vm.currentitem==0" class="button button01 md-button md-default-theme md-ink-ripple" title="Previous" ng-click="vm.showprevitem(vm.currentitem)"><i class="icon icon-chevron-left s25"></i> </button>
                                    <button ng-disabled="vm.currentitem+1==vm.idsall.length" class="button button01 md-button md-default-theme md-ink-ripple" title="Next" ng-click="vm.shownextitem(vm.currentitem)"><i class="icon icon-chevron-right s25"></i> </button>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.ms-navigation-item').find('a').each(function () {
            if ($(this).attr('href') == '/Orders') {
                $(this).addClass("active md-accent-bg");


            }
        });
    });

    function checkall() {

        var select_all = document.getElementById("select_all"); //select all checkbox
        var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

        //select all checkboxes
        select_all.addEventListener("change", function (e) {
            for (i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = select_all.checked;
            }
        });


        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function (e) { //".checkbox" change
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (this.checked == false) {
                    select_all.checked = false;

                }
                //check "select all" if all checkbox items are checked
                if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                    select_all.checked = true;

                }
            });
        }

    }
    function addids() {

        var selectedValues = "";
        $('#tableservice').find('input[type="checkbox"]:checked').each(function () {
            selectedValues += "," + $(this).val();
        });

        //selectedValues = selectedValues.substring(1);
        $('#selectedids').val(selectedValues);

    }

    function showhidenext(ev) {

        $(ev).parent().parent().next('tr').toggle();
    }
    function showhidenextdes(ev) {

        $(ev).parent().parent().next('tr').toggle();
    }

    function subtractqty(ev) {

        var peding = parseInt($('#usedtasks').val());
        var value = $(ev).next('input').val();
        var taskperamt = parseFloat($('#amountpertask').val());
        if (value == "") {
            $(ev).next('input').val(0);
            $('#usedtasks').val(peding);
        }
        else if (value <= 0) {

        }
        else {
            value = parseInt(value);
            value = parseInt(value - 1);
            peding = parseInt(peding - 1);
            $(ev).next('input').val(value);
            $('#usedtasks').val(peding);
        }

        $(ev).parent().parent().find('input').each(function () {

            if ($(this).hasClass('quantity')) {

                value = parseFloat(value * taskperamt);
                $(this).val(value);
            }
        });

    }
    function addqty(ev) {


        var total = parseInt($('#totaltasks').val());
        var value = $(ev).prev('input').val();
        var peding = parseInt($('#usedtasks').val());
        var taskperamt = parseFloat($('#amountpertask').val());
        if (peding != total) {
            if (value == "") {
                $(ev).prev('input').val(0);
                $('#usedtasks').val(peding);
            }

            else if (parseInt(value) != total) {
                value = parseInt(value);
                value = parseInt(value + 1);
                peding = parseInt(peding + 1);
                $(ev).prev('input').val(value);
                $('#usedtasks').val(peding);
            }

            $(ev).parent().parent().find('input').each(function () {

                if ($(this).hasClass('quantity')) {
                    value = parseFloat(value * taskperamt);
                    $(this).val(value);
                }
            });
        }
    }

</script>
<!-- / CONTENT -->
