<style>
    .strong {
        color: #060;
        border-color: #0F0;
    }

    .medium {
        color: #C60;
        border-color: #FC0;
    }

    .weak {
        color: #900;
        border-color: #F00;
    }

    .strength {
        padding: 1px 10px;
        border: 2px solid;
        color: #FFF;
    }
</style>

<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>
                    <img src="../../../assets/images/small_logo.png" ng-click="vm.gohome()" style="padding-top: 26px;cursor:pointer;" />
                </span>
            </div>
            <div class="title">Applicant Sign Up</div>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text" translate="REGISTER.ALREADY_HAVE">Already have an account?</span>
                <a class="link" ui-sref="app.pages_auth_login" translate="REGISTER.LOGIN">Log in</a>
            </div>
            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.form.fname" placeholder="First Name"
                           translate translate-attr-placeholder="First Name"
                           required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span>First Name field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input name="username1" ng-model="vm.form.lname" placeholder="Last Name"
                           translate translate-attr-placeholder="Last Name"
                           required>
                    <div ng-messages="registerForm.username1.$error" role="alert">
                        <div ng-message="required">
                            <span>Last Name field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           translate translate-attr-placeholder="REGISTER.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="REGISTER.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="REGISTER.PASSWORD"
                           md-minlength="10" ng-change="vm.strengthCheck(vm.form.password)"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                        <div ng-message="md-minlength">
                            <span>Password can't be less than 10 characters.</span>
                        </div>

                        <div ng-message="pattern">
                            <span>Password must have atlest one special character and one upper case letter. Password can't be less than 8 characters.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="REGISTER.PASSWORD_CONFIRM"
                           required password-verify="{{vm.form.password}}">
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                        <div ng-message="md-maxlength">
                            <span>Password can't be less than 8 characters.</span>
                        </div>
                        <div ng-message="passwordVerify"><span>Password and Confirm password is not matched!</span></div>

                    </div>
                </md-input-container>

                <span style="font-size:10px">strength indicator</span> 
                <span style="float:right;font-size:10px">{{vm.strength}}</span>
               
                <md-progress-linear md-mode="determinate" value="{{vm.percentage}}"></md-progress-linear>
                
               
                <md-button type="submit" class="md-raised md-accent submit-button"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"
                           
                           ng-click="register($event)">
                    SIGN ME UP
                </md-button>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span>I agree to the </span>
                        <a href="#" class="md-accent-color">TOS.</a>
                    </div>
                </div>
            </form>
           
            <input type="hidden" id="ipAddressID" />
            <input type="hidden" id="country" />
        </div>
    </div>
</div>
<script>
    $.getJSON('//freegeoip.net/json/?callback=?', function (data) {

        $('#ipAddressID').val(data.ip);
        $('#country').val(data.country_code);
    });
</script>