
<style>
    .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
        height: 37px;
        margin-top: 20px;
    }

    .green {
        color: green;
    }
  .content .md-whiteframe-1dp, .md-whiteframe-z1 {
  box-shadow:none!important;
}
 .content .form-wrapper .form-title {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  font-size: 21px;
  padding: 8px 14px;
}
.content .form-wrapper.md-whiteframe-1dp.flex-50 {
  background: #fcfcfc none repeat scroll 0 0;
}
.md-inline-form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email.ng-valid-pattern {
  background: #fff none repeat scroll 0 0;
  padding: 10px;
  border: 1px solid #ddd;
}
.md-inline-form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-pattern {
  background: #fff;
  padding: 10px;
    border: 1px solid #ddd;
}
    .layout-row .form-title {
        border: none;
    }
    .no-border {
    border:none;}
  .no-border .form-title {
 
  padding: 8px 5px !important;
}
/*.border-l-r {
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  flex-direction: row;
  clear: both;
  float: left;
  width: 100%;
}*/
.pull-right.layout-gt-xs-row {
  clear: both;
  float: right;
}

  .flag_col {
        border: 1px solid #ccc;
        margin: 0;
        padding: 8px;
        height: 20px;
        line-height: 20px;
    }

.pull-right01 {
  float: right;
  padding: 10px 0px;
}
.pull-right01 .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
  margin-right: 10px;
}
.form-wrapper {
  float: left;
  width: 100%;
}
.pull-right.layout-gt-xs-row.layout-column {
  display: inline-block;
  float: left;
  margin-top: 55px;
  width: 27%;
}
.md-button.md-default-theme.md-ink-ripple {
  margin-right: 7px;
}
    .md-icon-float.md-default-theme.flex-100 {
    width:100%;
    }
    table {
  width: 100%;
}
     table   li {
  padding: 6px;
}
      .add_user_col .form-title {
 
  font-size: 18px !important;
  padding: 0 !important;
} 

    .md-inline-form.ng-pristine.ng-valid .form-title {
    padding-left: 14px !important;
    padding-top: 10px !important;
}
.lock_col{position:relative;bottom:7px;}

.ms-responsive-table-wrapper {
    margin-left: -18px;
    margin-right: -18px;
} 
.ph-16.pv-24.border-bottom {border-bottom:none!important}
.add_user_col {
  border: 1px solid #ccc;
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 11px;
  width: 100%;
} 
.basicForm_col{padding:0 16px !important}   
body .add_user_col .form-title00 {
  border: medium none !important;
  border-bottom:1px solid #CCC!important; 
  padding: 4px 10px !important;
}
    .add_user_col {
        background-color: #fcfcfc;
    } 
    .form_colm{border:1px solid #CCC!important} 
</style>


<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <!-- CONTENT -->
    <div class="content">

        <div class="row">
            <div class="form-title form-title02">Add Client</div>
            <div class="form-wrapper md-whiteframe-1dp add_user_col" flex="100">

                
                <div layout="row" class="border-l-r">
                    <!-- BASIC FORM -->
                    <div class="form-wrapper md-whiteframe-1dp no-border" flex="50" style="margin-right:10px">
                        <form name="basicForm" class="md-inline-form" novalidate style="padding: 0; overflow: auto;background-color: white;border: 1px solid #ddd;">
                            <div class="form-title form-title00">Basic Info</div>
    <div class="basicForm_col">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <input type="text" name="firstname" ng-model="vm.firstname"
                                           placeholder="Firstname"
                                           required>
                                    <div ng-messages="basicForm.firstname.$error"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>Firstname field is required.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <input type="text" name="lastname" ng-model="vm.lastname" placeholder="Lastname"
                                           required>
                                    <div ng-messages="basicForm.lastname.$error"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>Lastname field is required.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <input type="email" name="email" ng-model="vm.email"
                                           placeholder="Primary Email" ng-pattern="/^.+@.+\..+$/"
                                           required>
                                    <div ng-messages="basicForm.email.$error"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>Email is required.</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span>Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <input type="email" name="secondaryemail" ng-model="vm.secondaryemail"
                                           placeholder="Secondary Email" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="basicForm.secondaryemail.$error"
                                         role="alert">

                                        <div ng-message="pattern">
                                            <span>Secondary Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>


                            </div>
                            <md-input-container flex="33">
                                <label>Role/Title</label>
                                <input name="roletitle" ng-model="vm.roletitle" placeholder="Role/Title"
                                       required>
                                <div ng-messages="basicForm.roletitle.$error"
                                     role="alert">
                                    <div ng-message="required"><span>Role/Title is required.</span></div>

                                </div>
                            </md-input-container>
                            <md-input-container flex="33">
                                <label>Phone</label>
                                <input name="Phone" ng-model="vm.Phone" placeholder="Phone number"
                                       ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                                <div ng-messages="basicForm.Phone.$error"
                                     role="alert" multiple>
                                    
                                    <div ng-message="pattern">
                                        <span>Not a valid Phone number.</span>
                                    </div>
                                    <div ng-message="md-maxlength">
                                        <span>Phone number max 10.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="33">
                                <label>ext.</label>
                                <input name="ext" ng-model="vm.ext" placeholder="ext."
                                       ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                                <div ng-messages="basicForm.ext.$error"
                                     role="alert" multiple>

                                    <div ng-message="pattern">
                                        <span>That doesn't look like a valid Phone number.</span>
                                    </div>
                                    <div ng-message="md-maxlength">
                                        <span>Postal code can't be longer than 10 digit.</span>
                                    </div>
                                </div>
                            </md-input-container>

                            </div>
                        </form>
                    </div>
                    <!-- / BASIC FORM -->
                    <!-- BASIC FORM DATA -->
                    <div class="form-wrapper md-whiteframe-1dp no-border" flex="50" style="margin-left:10px">
                        <form name="basicFormaddress" class="md-inline-form" novalidate style="padding: 0; overflow: auto;background-color: white;border: 1px solid #ddd;">
                            <div class="form-title form-title00">Company Info</div>
                            <div class="basicForm_col">
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex>
                                        <input type="text" name="CompanyName *" ng-model="vm.CompanyName"
                                               placeholder="Company Name"
                                               required>
                                        <div ng-messages="basicFormaddress.CompanyName.$error"
                                             role="alert">
                                            <div ng-message="required">
                                                <span>Company Name field is required.</span>
                                            </div>
                                        </div>
                                    </md-input-container>

                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-input-container flex>
                                        <input type="text" name="StreetAddress" ng-model="vm.StreetAddress"
                                               placeholder="Street Address"
                                               required>
                                        <div ng-messages="basicFormaddress.StreetAddress.$error"
                                             role="alert">
                                            <div ng-message="required">
                                                <span>Street Address is required.</span>
                                            </div>

                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <input type="text" name="City" ng-model="vm.City"
                                               placeholder="City"
                                               required>
                                        <div ng-messages="basicFormaddress.City.$error"
                                             role="alert">
                                            <div ng-message="required">
                                                <span>City is required.</span>
                                            </div>

                                        </div>
                                    </md-input-container>



                                </div>

                                <md-input-container flex>
                                    <label>State/Region</label>
                                    <input name="StateRegion" ng-model="vm.StateRegion" placeholder="State/Region"
                                           required>
                                    <div ng-messages="basicFormaddress.StateRegion.$error"
                                         role="alert" multiple>
                                        <div ng-message="required"><span>State/Region is required.</span></div>

                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>ZIP</label>
                                    <input name="postalcode" ng-model="vm.postalCode" placeholder="ZIP"
                                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                    <div ng-messages="basicFormaddress.postalcode.$error"
                                         role="alert" multiple>
                                        <div ng-message="required"><span>You must supply a postal code.</span></div>
                                        <div ng-message="pattern">
                                            <span>That doesn't look like a valid postal code.</span>
                                        </div>
                                        <div ng-message="md-maxlength">
                                            <span>Postal code can't be longer than 5 characters.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Country</label>
                                    <input name="Country" ng-model="vm.Country" placeholder="Country"
                                           required>
                                    <div ng-messages="basicFormaddress.Country.$error"
                                         role="alert" multiple>
                                        <div ng-message="required"><span>Country is required.</span></div>

                                    </div>
                                </md-input-container>

                            </div>

                        </form>
                    </div>
                    <!-- / BASIC FORM DATA -->

                </div>


                <div class="md-title mt-32"></div>


                <div class="form-wrapper md-whiteframe-1dp" flex="100">
                    <form name="basiccheck" class="md-inline-form form_colm" novalidate>
                        <div class="form-title form-title00">
                            Team Members
                        </div>
                        <div class="basicForm_col">
                            <div layout="row" layout-align="start" class="border-l-r padding-16">
                                <md-input-container flex>
                                    <input type="text" name="teamfirstname" ng-model="vm.teamfirstname"
                                           placeholder="First name">

                                </md-input-container>
                                <md-input-container flex>
                                    <input type="text" name="teamlastname" ng-model="vm.teamlastname"
                                           placeholder="Last name">

                                </md-input-container>
                                <md-input-container flex>
                                    <input type="email" name="teamemail" ng-model="vm.teamemail"
                                           placeholder="Primary Email" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="basiccheck.teamemail.$error"
                                         role="alert">

                                        <div ng-message="pattern">
                                            <span>Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Phone</label>
                                    <input name="TeamPhone" ng-model="vm.TeamPhone" placeholder="Phone number"
                                           ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                                    <div ng-messages="basiccheck.TeamPhone.$error"
                                         role="alert" multiple>

                                        <div ng-message="pattern">
                                            <span>Not a valid Phone number.</span>
                                        </div>
                                        <div ng-message="md-maxlength">
                                            <span>Phone can't be longer than 10 digit.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>ext.</label>
                                    <input name="teamext" ng-model="vm.teamext" placeholder="ext."
                                           ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                                    <div ng-messages="basiccheck.teamext.$error"
                                         role="alert" multiple>

                                        <div ng-message="pattern">
                                            <span>That doesn't look like a valid Phone number.</span>
                                        </div>
                                        <div ng-message="md-maxlength">
                                            <span>Postal code can't be longer than 10 digit.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        </form>
</div>
                <div class="md-title mt-32"></div>

                <div class="form-wrapper md-whiteframe-1dp  " flex="100">
                    <form  class="md-inline-form form_colm" novalidate>
                        <div class="form-title form-title00">
                            Private Notes
                        </div>
                        <div class="basicForm_col">
                            <div class="border-l-r padding-16 ">

                                <md-input-container flex="100">
                                    <input type="note" name="note" ng-model="vm.note"
                                           placeholder="Start typing a note...">

                                </md-input-container>
                                <div layout-gt-xs="row" class="pull-right">
                                    <md-button class="flag_col" aria-label="Cancel">
                                        <i class="icon icon-flag s20"></i>
                                    </md-button>

                                    <md-button class="flag_col" aria-label="Cancel"
                                               ng-click="addnote()">
                                        ADD NOTE
                                    </md-button>
                                </div>
                                <table>
                                    <tbody>
                                        <tr ng-repeat="note in vm.notes">
                                            <td>
                                                <ol style="list-style-type:none;    margin: 0;
    padding: 0;">
                                                    <li style="border: 1px solid black; width: 100%; background-color: rgb(255, 253, 239); padding: 3px 10px; font-size: 15px;">
                                                        <b>Note:</b> {{note.title}}   {{note.id}}
                                                        <span style="float:right">
                                                            <i class="icon icon-flag s20" style="cursor:pointer;"></i>
                                                            <i class="icon icon-close s20" style="cursor:pointer;" ng-click="removenotes(note.id)"></i>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <b>{{note.type}}:</b> {{note.createby}} said on {{note.date | date : "M.dd.yy"}} at {{note.date | date : "h:mm a"}}.
                                                    </li>
                                                </ol>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </form>
                        <div layout="column">

                        </div>
</div>
                <div class="md-title mt-32"></div>
                <div layout="column" layout-gt-xs="row" class="pull-right01">

                    <md-button class="md-raised md-accent graybg" aria-label="Cancel"
                               ng-click="cancel()">
                        Cancel
                    </md-button>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine || basicFormaddress.$invalid || basicFormaddress.$pristine" ng-click="createclient()">
                        CREATE CLIENT
                    </md-button>
                    <input type="hidden" id="ipAddressID"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    $.getJSON('//freegeoip.net/json/?callback=?', function (data) {

        $('#ipAddressID').val(data.ip);
        
    });
</script>
<script>
    // $('a[href$="/Tests"]').addClass("active md-accent-bg");
    $( document ).ready(function() {
        $('.ms-navigation-item').find('a').each(function () {

            if ($(this).attr('href') == '/Client') {
                $(this).addClass("active md-accent-bg");
            }
        });
    });

</script>

<!-- / CONTENT -->
