<style>
    .active {
        border-bottom: 1px solid #808080;
    }

    .md-checked {
        color: #69b400;
    }

    .md-accent.md-raised.md-hue-1.md-button.md-default-theme.md-ink-ripple {
        height: 42px;
        margin-top: 6px;
    }

    .icon-lock-outline {
        color: #69b400 !important;
    }

    .md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
        background-color: #69b400 !important;
    }

    .md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
        background-color: #69b400 !important;
    }

    .md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
        background-color: #69b400 !important;
    }

    .md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
        background-color: #69b400 !important;
    }

    .md-checkbox.md-default-theme.md-checked.md-ink-ripple, md-checkbox.md-checked.md-ink-ripple {
        color: #69b400 !important;
    }

    .md-primary.md-hue-1.md-button {
        height: 44px;
    }

    .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
        height: 42px;
    }

    .icon.icon-lock-unlocked-outline.s40 {
        margin-top: 8px;
    }

    .md-button {
        margin: 6px 13px;
    }

    .answer_WI {
        color: #69b400 !important;
    }

    .md-whiteframe_1 {
        padding: 0px;
        background-color: #FFF;
        border: 1px solid #ccc;
        box-shadow: none;
    }

        .md-whiteframe_1 .form-title {
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color: #666666;
            font-size: 20px;
            padding: 10px 15px;
        }


    .whiteframe_1_1 {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 13px 15px 6px;
    }

        .whiteframe_1_1 .md-icon-float.md-default-theme.flex {
            margin: 0;
            padding: 0;
        }

            .whiteframe_1_1 .md-icon-float.md-default-theme.flex .md-input {
                border: none !important;
            }

    .right_secton {
        float: right;
        text-align: right;
        width: auto;
    }

        .right_secton .md-primary.md-hue-1.md-button {
            border-radius: 0;
            height: auto;
            margin: 0;
            min-width: 49px;
            padding: 0;
        }

            .right_secton .md-primary.md-hue-1.active.md-button, .right_secton .md-primary.md-hue-1.md-button:hover, .right_secton .md-primary.md-hue-1.md-button:focus {
                border: 1px solid #69b400;
                color: #69b400 !important;
            }

        .right_secton .md-accent.md-raised.md-hue-1.md-button.md-default-theme.md-ink-ripple {
            color: #fff;
            height: 36px !important;
        }

    .whiteframe_1_1 .md-icon-float.md-default-theme.flex {
        margin: 0;
        padding: 0;
        position: relative;
        top: 10px;
    }

    .whiteframe_1_2 {
        display: inline-block;
        padding: 15px 15px;
        width: 100%;
    }

    .whiteframe_1_col1 select {
        padding: 6px 3px;
        width: 100%;
    }

    .whiteframe_1_col1 .input-field {
        display: inline-block;
        margin: 0 7px;
    }

    .whiteframe_1_right {
        float: right;
    }

    .whiteframe_1_2 .whiteframe_1_col1 {
        float: left;
    }

        .whiteframe_1_2 .whiteframe_1_col1 .icon {
            border: 1px solid rgba(0, 0, 0, 0.29);
            display: inline-block;
            font-size: 20px !important;
            height: auto !important;
            line-height: normal !important;
            margin-top: 0 !important;
            max-height: inherit !important;
            min-height: inherit !important;
            padding: 6.3px 0 6px;
            position: relative;
            text-align: center;
            top: 2px;
            cursor: pointer;
        }

    .whiteframe_1_right button {
        height: 36px !important;
        margin: 2px 0 0 11px;
    }

    .whiteframe_1_col1 > span {
        margin-right: 10px;
    }

    .whiteframe_1_3 {
        background-color: rgba(0, 0, 0, 0.04);
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        float: left;
        padding: 15px;
        width: 100%;
    }

        .whiteframe_1_3 .input-field {
            float: left;
            min-width: 118px;
        }

            .whiteframe_1_3 .input-field select {
                padding: 6px 3px;
                width: 100%;
            }

        .whiteframe_1_3 .layout-align-start-stretch {
            float: left;
            width: auto;
        }

            .whiteframe_1_3 .layout-align-start-stretch .md-inline-form md-checkbox {
                margin: 0 10px 0 0;
            }

        .whiteframe_1_3 md-checkbox .md-label {
            font-size: 12px;
        }

        .whiteframe_1_3 md-checkbox .md-icon {
            width: 17px;
            height: 17px;
            top: 3px;
            left: 8px;
        }

        .whiteframe_1_3 md-checkbox.md-checked .md-icon:after {
            height: 10.333px;
            width: 4.667px;
            top: 1.222px;
        }

    .md-inline-form .whiteframe_1_3 md-checkbox {
        margin: 5px 0 0;
    }

    .md-inline-form md-radio-group md-radio-button .md-label {
        font-size: 11px;
        margin-left: 14px;
    }

    .whiteframe_1_3 .right_col_ra {
        float: right;
        width: auto;
    }

        .whiteframe_1_3 .right_col_ra md-radio-button .md-container {
            top: 15px;
            left: 5px;
        }

        .whiteframe_1_3 .right_col_ra md-radio-button .md-off {
            width: 12px;
            height: 13px;
        }

        .whiteframe_1_3 .right_col_ra md-radio-button .md-on {
            height: 9px;
            width: 8px;
            top: 2px;
            left: 1.5px;
            color: #69b400 !important;
        }

    .md-inline-form .whiteframe_1_3 md-radio-group md-radio-button {
        border: 1px solid #ccc;
        box-sizing: border-box;
        display: inline-block;
        height: 25px;
        line-height: normal;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0px 6px;
    }

        .md-inline-form .whiteframe_1_3 md-radio-group md-radio-button .md-label {
            font-size: 11px;
            margin-left: 20px;
            margin-top: 0px;
            vertical-align: top;
        }

            .md-inline-form .whiteframe_1_3 md-radio-group md-radio-button .md-label span {
                border-left: 1px solid #ccc;
                float: left;
                padding: 5px 0 5px 5px;
            }

    .right_col_ra small {
        font-size: 11px;
        font-style: italic;
        margin: 0 8px 0 0;
    }

    .md-inline-form .whiteframe_1_3 md-radio-group {
        margin: 0;
    }

    .whiteframe_1_3 .right_col_ra {
        float: right;
        padding-top: 5px;
        width: auto;
    }

    .whiteframe_1_3 .layout-align-start-stretch {
        float: left;
        margin-left: 19px;
        width: auto;
    }

    .whiteframe_1_3 .input-field select {
        font-size: 13px;
    }

    .mc_section {
        float: left;
        width: 100%;
        padding: 15px 15px;
    }

    .mc_section1 .mc_right > span {
        color: #666666;
        float: left;
        font-size: 12px;
        margin-top: 3px;
    }

    .mc_section1 .mc_right {
        position: absolute;
        right: 0;
        top: 18px;
    }

    .mc_right {
        z-index: 999;
    }

    .mc_section1 {
        padding-right: 120px;
        position: relative;
    }

    .edit_button {
        color: red;
        float: left;
        margin: 3px 7px;
    }

    .close_button i {
        color: #e61610 !important;
    }

    .mc_section1 a:hover, .mc_section1 a:focus {
        text-decoration: none;
    }

    .add-an-answer-col {
        float: left;
        width: 100%;
    }

        .add-an-answer-col .md-icon-float {
            display: block;
            float: left;
            margin: 0;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
        }

    .add-an-answer-col {
        display: block;
        float: left;
        width: 100%;
    }


    .add_an_ans {
        clear: both;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }

        .add_an_ans i.icon {
            color: #69b400 !important;
            float: left;
            line-height: normal;
        }

        .add_an_ans span {
            float: left;
            font-size: 11px;
            line-height: normal;
            color: #69b400 !important;
            margin: 7px 0 5px 9px;
            text-transform: capitalize;
        }

    .md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
        border-color: #69b400 !important;
    }

    .md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
        border-color: #69b400 !important;
    }

    md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
        background-color: #69b400;
    }

    .md-inline-form md-radio-group.radio_col2 md-radio-button .md-label {
        font-size: 16px;
        line-height: normal;
        margin-left: 28px;
    }

    .md-inline-form md-radio-group.radio_col2 md-radio-button {
        float: left;
        width: 100%;
    }

    .md-inline-form md-radio-group.radio_col2 {
        float: left;
        margin: 12px 5px 1px;
    }

    .mc_section1-lab label {
        color: #000 !important;
        font-size: 19px;
    }

    .choice_col1 {
        margin: 0;
        min-height: inherit !important;
    }

    .mc_section_rept {
        border-bottom: 1px solid #ccc;
    }

    .whiteframe_1_3 md-input-container {
        padding: 0px;
        margin: 0px 0;
    }

    .whiteframe_1_2 md-input-container {
        padding: 0px;
        margin: 0px 0;
    }

    .whiteframe01 { 
  padding: 40px 20px 55px;
} 
    .whiteframe01 .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
  padding: 1px 22px;
} 

    .whiteframe01 .form-title{color: rgba(0, 0, 0, 0.54);}
    .md-whiteframe-1dp02 .right_secton {
  position: relative;
  top: 13px;
} 
    .md-whiteframe-1dp02 .right_secton .icon.icon-timer.s20 {
  position: relative;
  top: 4px;
} 

    .md-whiteframe-1dp02 md-input-container label:not(.md-container-ignore){position:static;}

    .togal_button .md-raised.md-accent.md-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  color: #444;
  float: left;
  margin: 0;
  min-width: 40px;
  padding: 0;
}   
    .togal_button .md-raised.md-accent.md-button:first-child {
  border-right: none;
} 
     
    .togal_button .md-raised.md-accent.md-button:hover, .togal_button .active.md-raised.md-accent.md-button ,.togal_button .md-raised.md-accent.md-button:focus{background-color:#69b400;color:#FFF!important;}
    body .togal_button .md-raised.md-accent.md-button:hover{background-color:#69b400!important;color:#FFF!important;}

     
    .md-button.md-default-theme.md-accent.md-raised:hover:not([disabled]), .md-button.md-accent.md-raised:hover:not([disabled]), .md-button.md-default-theme.md-accent.md-fab:hover:not([disabled]), .md-button.md-accent.md-fab:hover:not([disabled]) {background-color:#69b400;color:#FFF!important;}
    .md-raised.md-accent.md-button.md-default-theme.md-ink-ripple {
  /*background: #0078ce none repeat scroll 0 0;*/
  color: #fff;
  font-weight: 400;
  height: 42px;
  margin-top: -10px;
}
   .md-button.md-default-theme.md-accent.md-raised:hover:not([disabled]), .md-button.md-accent.md-raised:hover:not([disabled]), .md-button.md-default-theme.md-accent.md-fab:hover:not([disabled]), .md-button.md-accent.md-fab:hover:not([disabled]) {
    background-color: #69b400!important;
    color: #FFF!important;
}
   .togal_button .md-raised.md-accent.md-button:hover, .togal_button .active.md-raised.md-accent.md-button, .togal_button .md-raised.md-accent.md-button:focus {
    background-color: #69b400!important;
    color: #FFF!important;
}

   
</style> 

<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page doc-page_89 " >
    <!-- CONTENT -->
    <div class="content" > 
        <div class="row">
            <div class="form-wrapper md-whiteframe-1dp whiteframe01 " flex="100" ng-show="landing">
                <form name="basicForm" class="md-inline-form" novalidate> 
                    <div class="form-title" style="text-align:center!important;font-size: 40px;font-weight: 800;">Writing Test</div>
                    <div style="text-align:center!important;">
                        <p style="text-align:center!important;">Thank you for your interest in our job listing!</p>
                    </div>
                    <div style="text-align:center!important;">
                        <p style="text-align:center!important;"><i class="icon icon-thumb-up s60"></i></p>
                    </div>
                    <div style="text-align:center!important;">
                        <p style="text-align:center!important;">This is a timed test. Please see the <a href="#">testing rules</a>.</p>
                    </div>
                    <div style="text-align:center!important;">
                        <md-button type="submit" style="text-align:center!important;background-color:#69b400 !important;margin-bottom: -41px;" class="md-raised md-accent" aria-label="Submit"
                                   ng-click="apply()">
                            START THE TEST
                        </md-button>

                    </div>

                </form>
            </div>
            <div class="form-wrapper md-whiteframe-1dp  md-whiteframe-1dp02 md-whiteframe-1dp089 form-wrapper01" flex="100" ng-show="test" >
              
                <div layout-gt-sm="row" class="fixed-head fixed-head000 top-testapplicant">
                   
                    <ul class="top_list_1">
                        <li><b>Applying Role:</b>{{role}} </li>
                        <li><b>Date:</b>{{date | date}} </li>
                        <li><b>Locked:</b>{{locked}} </li>
                        <li><b>Max time:</b>{{maxtime}} </li>
                        <li><b>Attempts:</b>{{Attempts}} </li>
                    </ul>

                    <input id="ipAddressID" type="hidden" ng-bind="ipaddress"/>
                    <div class="right_secton timer-class">
                        <i class="icon icon-timer s20"></i> {{min-1}}:{{sec}}
                    </div>
                </div>


                <div class="scrollable-div">
                    <div ng-repeat="option in questionsansresulttype">

                        <div ng-if="option.type=='TF'" class="mc_section mc_section_rept">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex="50">
                                    <div class="mc_section1 mc_section1-lab ">
                                        <label id="lb{{currentindex+1}}">{{currentindex+1}}. {{option.questiontitle}}</label>

                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex="50" class="choice_col1 togal_button">
                                    <md-button class="md-raised md-accent trueclass" aria-label="Cancel"
                                               onclick="addclass(this,'t')" ng-click="ans(option._id,true,'TF',option.questiontitle,option.answer,currentindex+1)">
                                        T
                                    </md-button>
                                    <md-button class="md-raised md-accent falseclass" aria-label="Cancel"
                                               onclick="addclass(this,'f')" ng-click="ans(option._id,false,'TF',option.questiontitle,option.answer,currentindex+1)">
                                        F
                                    </md-button>

                                </md-input-container>

                            </div>
                        </div>
                        <div ng-if="option.type=='WI'" class="mc_section mc_section_rept">
                            <form name="basicForm" class="md-inline-form" novalidate>
                                <div layout="column" layout-gt-sm="row">

                                    <md-input-container flex="50">
                                        <div class="mc_section1 mc_section1-lab ">

                                            <label id="lb{{currentindex+1}}">{{currentindex+1}}. {{option.questiontitle}}</label>

                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex>
                                        <input type="text" name="answer" ng-model="WIanswer"
                                               placeholder="Enter your answer"
                                               required ng-blur="ans(option._id,WIanswer,'WI',option.questiontitle,option.answer,currentindex+1)">
                                        <div ng-messages="basicForm.testtitle.$error"
                                             role="alert">
                                            <div ng-message="required">
                                                <span>Test title is required.</span>
                                            </div>

                                        </div>
                                    </md-input-container>
                                    <!--<md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                   ng-disabled="basicForm.answer.$invalid" ng-click="ans(option._id,WIanswer,'WI',option.questiontitle,option.answer,$index+1)">
                            Save answer
                        </md-button>-->
                                </div>
                            </form>
                        </div>

                        <div ng-if="option.type=='MC'" class="mc_section mc_section_rept">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex="50">

                                    <div class="mc_section1 mc_section1-lab ">
                                        <label id="lb{{currentindex+1}}">{{currentindex+1}}. {{option.questiontitle}}</label>

                                    </div>
                                </md-input-container>
                            </div>

                            <md-radio-group ng-model="selectedanswer" class="radio_col2">

                                <md-radio-button ng-click="MCclick(option._id,ans.value,'MC',option.questiontitle,option.answer)" ng-repeat="ans in option.options" ng-if="ans.value!=undefined" ng-value="ans.value"> {{ans.value}}</md-radio-button>


                            </md-radio-group>

                        </div>
                    </div>

                    <div layout="column" layout-gt-xs="row" class="whiteframe_1_2">
                        <div class="whiteframe_1_right">
                            <md-button class="md-raised md-accent" ng-disabled="vm.preque"
                                       ng-click="vm.prev()" ng-if="vm.nextque==false">
                                Prev
                            </md-button>

                            <md-button class="md-raised md-accent" ng-if="vm.nextque==false"
                                       ng-click="vm.next()">
                                Next
                            </md-button>
                            <md-button class="md-raised md-accent" ng-disabled="true"
                                       ng-click="vm.prev()" ng-if="vm.nextque==true">
                                Prev
                            </md-button>
                            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                       ng-click="submittest()" ng-if="vm.nextque==true">
                                SUBMIT TEST
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" layout-gt-xs="row" class="whiteframe_1_2">
                        <div class="whiteframe_1_right">
                            <md-button class="md-raised md-accent Cancel" aria-label="Cancel"
                                       ng-click="cancel()">
                                FORFEIT
                            </md-button>

                            <md-button type="submit" class="md-raised md-accent submit" aria-label="Submit"
                                       ng-click="submittest()">
                                SUBMIT TEST
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="country"/>
    <!-- / CONTENT -->

<script>
    function addclass(ev,type)
    {
        
        //$(ev).closest("md-button").removeClass("active");
        if (type == 't') {
            $(ev).addClass("active");
            $(ev).next('.falseclass').removeClass("active");
        }
        else {
            $(ev).addClass("active");
            $(ev).prev('.trueclass').removeClass("active");
        }
       
    }
    $.getJSON('//freegeoip.net/json/?callback=?', function (data) {
        console.log(JSON.stringify(data, null, 2));
        $('#ipAddressID').val(data.ip);
        $('#country').val(data.country_code);
    });
</script>
   
</div>